/**
 * Media query mixins, designed for using along the bootstrap responsive grid
 */
@mixin small-only {
	@media only screen and (max-width: 39.9375em) { @content; }
}

// medium
@mixin medium {
	@media only screen and (min-width: 40em) { @content; }
}
@mixin medium-only {
	@media only screen and (min-width: 40em) and (max-width: 63.9375em) { @content; }
}

// large
@mixin up-to-large {
	@media only screen and (max-width: 63.9375em) { @content; }
}
@mixin large {
	@media only screen and (min-width: 64em) { @content; }
}
@mixin large-only {
	@media only screen and (min-width: 64em) and (max-width: 89.9375em) { @content; }
}

// extra large
@mixin up-to-xlarge {
	@media only screen and (max-width: 89.9375em) { @content; }
}
@mixin xlarge {
	@media only screen and (min-width: 90em) { @content; }
}
@mixin xlarge-only {
	@media only screen and (min-width: 90em) and (max-width: 119.9375em) { @content; }
}

// extra extra large
@mixin up-to-xxlarge {
	@media only screen and (max-width: 119.9375em) { @content; }
}
@mixin xxlarge {
	@media only screen and (min-width: 120em) { @content; }
}

// orientation
@mixin landscape {
	@media only screen and (orientation: landscape) { @content; }
}
@mixin portrait {
	@media only screen and (orientation: portrait) { @content; }
}

/**
 * Mixin and class for fullscreen height
 *
 * Uses viewport height when browser supports,
 * otherwise falls back on fixed height in pixels
 */
@mixin fullscreen {
	// height in pixels is based on google chrome dev tools iPhone profile
	height: 667px!important;
	height: 100vh!important;
	@include medium {
		// height in pixels is based on google chrome dev tools iPad profile
		@include portrait {
			height: 1024px!important;
			height: 100vh!important;
		}
		@include landscape {
			height: 768px!important;
			height: 100vh!important;
		}
	}
	@include large {
		// height in pixels is based on common resolution of 1366 x 768
		height: 768px!important;
		height: 100vh!important;
	}
	@include xlarge {
		// height in pixels is based on common resolution of 1600 x 900
		height: 900px!important;
		height: 100vh!important;
	}
	@include xxlarge {
		// height in pixels is based on common resolution of 1920 x 1080
		height: 1080px!important;
		height: 100vh!important;
	}
}
.fullscreen { @include fullscreen; }

/**
 * Mixin and class to apply the same padding as a foundation column
 */
@mixin colpad {
	padding-right: .625rem;
	padding-left: .625rem;
	@include medium {
		padding-right: .9375rem;
    	padding-left: .9375rem;
	}
}
.colpad { @include colpad; }

/**
 * Mixin and class to apply responsive 'section' padding to an element
 */
$sectionpad-small:   20px;
$sectionpad-medium:  50px;
$sectionpad-large:   70px;
$sectionpad-xlarge:  90px;
$sectionpad-xxlarge: 100px;

@mixin sectionpad {
	padding-top: $sectionpad-small;
	padding-bottom: $sectionpad-small;
	@include medium {
		padding-top: $sectionpad-medium;
		padding-bottom: $sectionpad-medium;
	}
	@include large {
		padding-top: $sectionpad-large;
		padding-bottom: $sectionpad-large;
	}
	@include xlarge {
		padding-top: $sectionpad-xlarge;
		padding-bottom: $sectionpad-xlarge;
	}
	@include xxlarge {
		padding-top: $sectionpad-xxlarge;
		padding-bottom: $sectionpad-xxlarge;
	}
}

@mixin sectionpad-top {
	padding-top: $sectionpad-small;
	@include medium { padding-top: $sectionpad-medium; }
	@include large { padding-top: $sectionpad-large; }
	@include xlarge { padding-top: $sectionpad-xlarge; }
	@include xxlarge { padding-top: $sectionpad-xxlarge; }
}


@mixin sectionpad-bottom {
	padding-top: $sectionpad-small;
	@include medium { padding-bottom: $sectionpad-medium; }
	@include large { padding-bottom: $sectionpad-large; }
	@include xlarge { padding-bottom: $sectionpad-xlarge; }
	@include xxlarge { padding-bottom: $sectionpad-xxlarge; }
}

.sectionpad { @include sectionpad; }
.sectionpad-top { @include sectionpad-top; }
.sectionpad-bottom { @include sectionpad-bottom; }

/**
 * Foundation columns for extra large screen sizes
 */
@include xlarge {
	.xlarge-1  { width: 8.33333%!important; }
	.xlarge-2  { width: 16.66667%!important; }
	.xlarge-3  { width: 25%!important; }
	.xlarge-4  { width: 33.33333%!important; }
	.xlarge-5  { width: 41.66667%!important; }
	.xlarge-6  { width: 50%!important; }
	.xlarge-7  { width: 58.33333%!important; }
	.xlarge-8  { width: 66.66667%!important; }
	.xlarge-9  { width: 75%!important; }
	.xlarge-10 { width: 83.33333%!important; }
	.xlarge-11 { width: 91.66667%!important; }
	.xlarge-12 { width: 100%!important; }
}

@include xxlarge {
	.xxlarge-1  { width: 8.33333%!important; }
	.xxlarge-2  { width: 16.66667%!important; }
	.xxlarge-3  { width: 25%!important; }
	.xxlarge-4  { width: 33.33333%!important; }
	.xxlarge-5  { width: 41.66667%!important; }
	.xxlarge-6  { width: 50%!important; }
	.xxlarge-7  { width: 58.33333%!important; }
	.xxlarge-8  { width: 66.66667%!important; }
	.xxlarge-9  { width: 75%!important; }
	.xxlarge-10 { width: 83.33333%!important; }
	.xxlarge-11 { width: 91.66667%!important; }
	.xxlarge-12 { width: 100%!important; }
}

/**
 * Visibility classes for extra large screen sizes
 */
.show-for-xlarge {
	@include up-to-xlarge { display: none !important; }
}
.show-for-xlarge-only {
	@include up-to-xlarge { display: none !important; }
	@include xxlarge { display: none !important; }
}
.hide-for-xlarge {
	@include xlarge { display: none !important; }
}
.hide-for-xlarge-only {
	@include xlarge-only { display: none !important; }
}

.show-for-xxlarge {
	@include up-to-xxlarge { display: none !important; }
}
.hide-for-xxlarge {
	@include xxlarge { display: none !important; }
}

/**
 * Alignment classes for extra large screen sizes
 */
@include xlarge {
	.xlarge-text-left { text-align: left; }
   	.xlarge-text-right { text-align: right; }
   	.medium-text-center { text-align: center; }
   	.medium-text-justify { text-align: justify; }
}

@include xxlarge {
	.xxlarge-text-left { text-align: left; }
   	.xxlarge-text-right { text-align: right; }
   	.xxlarge-text-center { text-align: center; }
   	.xxlarge-text-justify { text-align: justify; }
}

@include xlarge {
	.xlarge-push-1 {
        position: relative;
        left: 8.33333%; }
	.xlarge-pull-1 {
    	position: relative;
      	left: -8.33333%; }

	.xlarge-push-2 {
		position: relative;
		left: 16.66667%; }
	.xlarge-pull-2 {
		position: relative;
		left: -16.66667%; }

	.xlarge-push-3 {
	    position: relative;
		left: 25%; }
	.xlarge-pull-3 {
	    position: relative;
	    left: -25%; }

	.xlarge-push-4 {
		position: relative;
		left: 33.33333%; }
	.xlarge-pull-4 {
		position: relative;
		left: -33.33333%; }

	.xlarge-push-5 {
		position: relative;
	    left: 41.66667%; }
	.xlarge-pull-5 {
	    position: relative;
	    left: -41.66667%; }

	.xlarge-push-6 {
		position: relative;
	    left: 50%; }
	.xlarge-pull-6 {
	    position: relative;
	    left: -50%; }

	.xlarge-push-7 {
	    position: relative;
	    left: 58.33333%; }
	.xlarge-pull-7 {
	    position: relative;
	    left: -58.33333%; }

	.xlarge-push-8 {
	    position: relative;
	    left: 66.66667%; }
	.xlarge-pull-8 {
	    position: relative;
	    left: -66.66667%; }

	.xlarge-push-9 {
	    position: relative;
	    left: 75%; }
	.xlarge-pull-9 {
	    position: relative;
	    left: -75%; }

	.xlarge-push-10 {
	    position: relative;
	    left: 83.33333%; }
	.xlarge-pull-10 {
	    position: relative;
	    left: -83.33333%; }

	.xlarge-push-11 {
	    position: relative;
	    left: 91.66667%; }
	.xlarge-pull-11 {
	    position: relative;
	    left: -91.66667%; }
}

@include xxlarge {
	.xxlarge-push-1 {
        position: relative;
        left: 8.33333%; }
	.xxlarge-pull-1 {
    	position: relative;
      	left: -8.33333%; }

	.xxlarge-push-2 {
		position: relative;
		left: 16.66667%; }
	.xxlarge-pull-2 {
		position: relative;
		left: -16.66667%; }

	.xxlarge-push-3 {
	    position: relative;
		left: 25%; }
	.xxlarge-pull-3 {
	    position: relative;
	    left: -25%; }

	.xxlarge-push-4 {
		position: relative;
		left: 33.33333%; }
	.xxlarge-pull-4 {
		position: relative;
		left: -33.33333%; }

	.xxlarge-push-5 {
		position: relative;
	    left: 41.66667%; }
	.xxlarge-pull-5 {
	    position: relative;
	    left: -41.66667%; }

	.xxlarge-push-6 {
		position: relative;
	    left: 50%; }
	.xxlarge-pull-6 {
	    position: relative;
	    left: -50%; }

	.xxlarge-push-7 {
	    position: relative;
	    left: 58.33333%; }
	.xxlarge-pull-7 {
	    position: relative;
	    left: -58.33333%; }

	.xxlarge-push-8 {
	    position: relative;
	    left: 66.66667%; }
	.xxlarge-pull-8 {
	    position: relative;
	    left: -66.66667%; }

	.xxlarge-push-9 {
	    position: relative;
	    left: 75%; }
	.xxlarge-pull-9 {
	    position: relative;
	    left: -75%; }

	.xxlarge-push-10 {
	    position: relative;
	    left: 83.33333%; }
	.xxlarge-pull-10 {
	    position: relative;
	    left: -83.33333%; }

	.xxlarge-push-11 {
	    position: relative;
	    left: 91.66667%; }
	.xxlarge-pull-11 {
	    position: relative;
	    left: -91.66667%; }
}

/**
 * Responsive grid to vertically adjust an element's height relative to its parent.
 *
 * To be used for responsive 'block grids' in conjunction with the Foundation grid.
 */
$one-twelfth: 8.33333%;
$two-twelfth: 16.66667%;
$three-twelfth: 25%;
$four-twelfth: 33.33333%;
$five-twelfth: 41.66667%;
$six-twelfth: 50%;
$seven-twelfth: 58.33333%;
$eight-twelfth: 66.66667%;
$nine-twelfth: 75%;
$ten-twelfth: 83.33333%;
$eleven-twelfth: 91.66667%;
$twelve-twelfth: 100%;

.height-1  { height: $one-twelfth; }
.height-2  { height: $two-twelfth; }
.height-3  { height: $three-twelfth; }
.height-4  { height: $four-twelfth; }
.height-5  { height: $five-twelfth; }
.height-6  { height: $six-twelfth; }
.height-7  { height: $seven-twelfth; }
.height-8  { height: $eight-twelfth; }
.height-9  { height: $nine-twelfth; }
.height-10 { height: $ten-twelfth; }
.height-11 { height: $eleven-twelfth; }
.height-12 { height: $twelve-twelfth; }

@include small-only {
	.small-only-height-1  { height: $one-twelfth; }
	.small-only-height-2  { height: $two-twelfth; }
	.small-only-height-3  { height: $three-twelfth; }
	.small-only-height-4  { height: $four-twelfth; }
	.small-only-height-5  { height: $five-twelfth; }
	.small-only-height-6  { height: $six-twelfth; }
	.small-only-height-7  { height: $seven-twelfth; }
	.small-only-height-8  { height: $eight-twelfth; }
	.small-only-height-9  { height: $nine-twelfth; }
	.small-only-height-10 { height: $ten-twelfth; }
	.small-only-height-11 { height: $eleven-twelfth; }
	.small-only-height-12 { height: $twelve-twelfth; }
}

@include medium {
	.medium-height-1  { height: $one-twelfth; }
	.medium-height-2  { height: $two-twelfth; }
	.medium-height-3  { height: $three-twelfth; }
	.medium-height-4  { height: $four-twelfth; }
	.medium-height-5  { height: $five-twelfth; }
	.medium-height-6  { height: $six-twelfth; }
	.medium-height-7  { height: $seven-twelfth; }
	.medium-height-8  { height: $eight-twelfth; }
	.medium-height-9  { height: $nine-twelfth; }
	.medium-height-10 { height: $ten-twelfth; }
	.medium-height-11 { height: $eleven-twelfth; }
	.medium-height-12 { height: $twelve-twelfth; }
}

@include medium-only {
	.medium-only-height-1  { height: $one-twelfth; }
	.medium-only-height-2  { height: $two-twelfth; }
	.medium-only-height-3  { height: $three-twelfth; }
	.medium-only-height-4  { height: $four-twelfth; }
	.medium-only-height-5  { height: $five-twelfth; }
	.medium-only-height-6  { height: $six-twelfth; }
	.medium-only-height-7  { height: $seven-twelfth; }
	.medium-only-height-8  { height: $eight-twelfth; }
	.medium-only-height-9  { height: $nine-twelfth; }
	.medium-only-height-10 { height: $ten-twelfth; }
	.medium-only-height-11 { height: $eleven-twelfth; }
	.medium-only-height-12 { height: $twelve-twelfth; }
}

@include large {
	.large-height-1  { height: $one-twelfth; }
	.large-height-2  { height: $two-twelfth; }
	.large-height-3  { height: $three-twelfth; }
	.large-height-4  { height: $four-twelfth; }
	.large-height-5  { height: $five-twelfth; }
	.large-height-6  { height: $six-twelfth; }
	.large-height-7  { height: $seven-twelfth; }
	.large-height-8  { height: $eight-twelfth; }
	.large-height-9  { height: $nine-twelfth; }
	.large-height-10 { height: $ten-twelfth; }
	.large-height-11 { height: $eleven-twelfth; }
	.large-height-12 { height: $twelve-twelfth; }
}

@include large-only {
	.large-only-height-1  { height: $one-twelfth; }
	.large-only-height-2  { height: $two-twelfth; }
	.large-only-height-3  { height: $three-twelfth; }
	.large-only-height-4  { height: $four-twelfth; }
	.large-only-height-5  { height: $five-twelfth; }
	.large-only-height-6  { height: $six-twelfth; }
	.large-only-height-7  { height: $seven-twelfth; }
	.large-only-height-8  { height: $eight-twelfth; }
	.large-only-height-9  { height: $nine-twelfth; }
	.large-only-height-10 { height: $ten-twelfth; }
	.large-only-height-11 { height: $eleven-twelfth; }
	.large-only-height-12 { height: $twelve-twelfth; }
}

@include xlarge {
	.xlarge-height-1  { height: $one-twelfth; }
	.xlarge-height-2  { height: $two-twelfth; }
	.xlarge-height-3  { height: $three-twelfth; }
	.xlarge-height-4  { height: $four-twelfth; }
	.xlarge-height-5  { height: $five-twelfth; }
	.xlarge-height-6  { height: $six-twelfth; }
	.xlarge-height-7  { height: $seven-twelfth; }
	.xlarge-height-8  { height: $eight-twelfth; }
	.xlarge-height-9  { height: $nine-twelfth; }
	.xlarge-height-10 { height: $ten-twelfth; }
	.xlarge-height-11 { height: $eleven-twelfth; }
	.xlarge-height-12 { height: $twelve-twelfth; }
}

@include xlarge-only {
	.xlarge-only-height-1  { height: $one-twelfth; }
	.xlarge-only-height-2  { height: $two-twelfth; }
	.xlarge-only-height-3  { height: $three-twelfth; }
	.xlarge-only-height-4  { height: $four-twelfth; }
	.xlarge-only-height-5  { height: $five-twelfth; }
	.xlarge-only-height-6  { height: $six-twelfth; }
	.xlarge-only-height-7  { height: $seven-twelfth; }
	.xlarge-only-height-8  { height: $eight-twelfth; }
	.xlarge-only-height-9  { height: $nine-twelfth; }
	.xlarge-only-height-10 { height: $ten-twelfth; }
	.xlarge-only-height-11 { height: $eleven-twelfth; }
	.xlarge-only-height-12 { height: $twelve-twelfth; }
}

@include xxlarge {
	.xxlarge-height-1  { height: $one-twelfth; }
	.xxlarge-height-2  { height: $two-twelfth; }
	.xxlarge-height-3  { height: $three-twelfth; }
	.xxlarge-height-4  { height: $four-twelfth; }
	.xxlarge-height-5  { height: $five-twelfth; }
	.xxlarge-height-6  { height: $six-twelfth; }
	.xxlarge-height-7  { height: $seven-twelfth; }
	.xxlarge-height-8  { height: $eight-twelfth; }
	.xxlarge-height-9  { height: $nine-twelfth; }
	.xxlarge-height-10 { height: $ten-twelfth; }
	.xxlarge-height-11 { height: $eleven-twelfth; }
	.xxlarge-height-12 { height: $twelve-twelfth; }
}
