/******************
 * SCSS Variables   *
 ******************/

//== Typography
$fnt-default: 				'nimbus-sans';
$fnt-head: 					'henriette';

$fnt-small-size:       		13px;
$fnt-default-size:     		16px;
$fnt-medium-size:      		18px;
$fnt-large-size:       		24px;

$fnt-line-height:      		26px;

$trns-default: 				0.3s all ease-in-out;
$trns-fast: 				0.1s all ease-in-out;

//== Colors
$clr-white: 				#ffffff;
$clr-black: 				#000000;
$clr-red: 					#DE6C30;
$clr-grey-lt: 				#505050;
$clr-grey:					#2D292D;
$clr-grey-dk:				#1A171B;
$clr-text:					#5a575b;
$clr-text-lt: 				#807B7B;

$clr-main: 					#DD9610;
$clr-main-dk: 				#a6700c;
$clr-second: 				#1A171B;

$clr-border-lt:				#111111;
$clr-widget-border: 		#D6D6D6;

$clr-dark: 					$clr-grey-dk;

$clr-white-dk: 				#f1f1f1;
$clr-subnav-bg: 			#f0f0f0;
$clr-footer-bg:				#19171C;
$clr-footer-bg-lt:			#27252A;
//== Blocks
$small-block:				125px;
$medium-block:				250px;
$large-block:				525px;
$full:						100%;
$half:						50%;

//== Margins & Paddings
$mp-tiny:					2px;
$mp-small: 					15px;
$mp-medium: 				30px;
$mp-large: 					60px;
$mp-huge: 					90px;
