<footer class="footer">

    <section class="contactinfo">
        <div class="row">
            <div class="large-9 medium-6  small-12 columns">
                <ul class="contact-list">
					<?php if($phone = $this->phone(get_option('theme_company_phone'))):?>
                    <li class="phonenumber">
                        <?php echo $phone; ?>
                    </li>
					<?php endif;?>
					<?php if($email = get_option('theme_company_email')):?>
                    <li class="email">
                        <a href="mailto:<?php echo $email; ?>"><?php echo $email;?></a>
                    </li>
					<?php endif;?>
					<?php if($address = get_option('theme_company_address')):?>
                    <li class="address">
                        <?php echo $address; ?>
                    </li>
					<?php endif;?>
					<?php if($contact_link = get_option('theme_page_contact')):?>
					<li class="contact-link">
						<a href="<?php echo get_permalink($contact_link);?>"><?php echo __('Contact &amp; route');?></a>
					</li>
					<?php endif;?>
                </ul>
            </div>
            <div class="large-3 medium-6 small-12 columns">
                <ul class="social-network">
                    <?php if($facebook = get_option('theme_social_facebook')): ?>
                        <li><a href="<?php echo $facebook; ?>" target="_blank" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <?php endif; ?>
                    <?php if($twitter = get_option('theme_social_twitter')): ?>
                        <li><a href="<?php echo $twitter; ?>" target="_blank" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <?php endif; ?>
					<?php if($instagram = get_option('theme_social_instagram')): ?>
						<li><a href="<?php echo $instagram; ?>" target="_blank" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a></li>
					<?php endif; ?>
                    <?php if($linkedin = get_option('theme_social_linkedin')): ?>
                        <li><a href="<?php echo $linkedin; ?>" target="_blank" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <?php endif; ?>
                    <?php if($pinterest = get_option('theme_social_pinterest')): ?>
                        <li><a href="<?php echo $pinterest; ?>" target="_blank" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    <?php endif; ?>
                    <?php if($google = get_option('theme_social_googleplus')): ?>
                        <li><a href="<?php echo $google; ?>" target="_blank" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                    <?php endif; ?>
                </ul>
            </div>
        </div>

    </section>

    <section class="mainfooter">

        <div class="row">
            <div class="large-4 medium-12 small-12 columns openingtimes">
				<?php if($opening = get_option('theme_layout_footer_opening')):?>
                <h3 class="subtitle white">Openingstijden</h3>
					<?php echo $this->getPostContent($opening);?>
				<?php endif;?>
            </div>
            <div class="large-3 medium-5 small-12 columns servicemenu">
                <h3 class="subtitle white">Onze webshop</h3>
                <?php
                    $defaults = array(
                        'container' => false,
                        'menu_class' => 'service-list',
                        'menu_id' => 'service-menu',
                        'fallback_cb' => '',
                        'link_before' => '<span>',
                        'link_after' => '</span>',
                        'theme_location' => 'service',
                    );
                    echo $this->menu('service',$defaults);
                ?>
            </div>
            <div class="large-5 medium-7 small-12 columns other">
				<?php if($other = get_option('theme_layout_footer_other')):?>
                <h3 class="subtitle white">Kijk ook eens bij...</h3>
				<?php echo $this->getPostContent($other);?>
				<?php endif;?>
            </div>
        </div>
    </section>

    <section class="bottomfooter">
        <div class="row">
            <div class="large-5 column">
                <div class="footernav">
                    <?php
                        $defaults = array(
                            'container' => false,
                            'menu_class' => 'inline-list',
                            'menu_id' => 'footer-menu',
                            'fallback_cb' => '',
                            'link_before' => '<span>',
                            'link_after' => '</span>',
                            'theme_location' => 'footer',
                        );
                        echo $this->menu('footer',$defaults);
                    ?>
                    <p class="copyright">&copy; <?php echo date('Y') ?> <?php echo get_bloginfo('name') ?>. Realisatie: <a target="_blank" href="https://www.webwijs.nu">Webwijs</a></p>
                </div>
            </div>

            <div class="large-7 column">
                <div class="logos">
                    <ul>
                        <li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/postnl.png" height="40">
                            </a>
                        </li>
                        <!-- <li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/dhl.png" height="40">
                            </a>
                        </li> -->
                        <li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/ideal.png" height="40">
                            </a>
                        </li>

                        <!-- <li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/paypal.png" height="40">
                            </a>
                        </li> -->

                        <li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/mastercard.png" height="40">
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/maestro.png" height="40">
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/visa.png" height="35">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</footer>
