<?php
	global $woocommerce;
	$cart_url = $woocommerce->cart->get_cart_url();
	$cart_tot = $woocommerce->cart->get_cart_total();
	$cart_num = $woocommerce->cart->get_cart_contents_count();
?>

<header class="header">

	<div class="navbar">
		<div class="nav">
			<div class="row">
					
				<div class="large-12 columns">

					<a class="logo" href="<?php echo home_url('/') ?>" title="<?php bloginfo('name') ?>">
						<img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/wenloads-logo-header.png" class="hide-on-scroll">
						<img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/wenloads-logo-scroll.png" class="show-on-scroll">
					</a>

					<div class="menuholder">
						<?php
							global $woocommerce;
							$cart_url = $woocommerce->cart->get_cart_url();
						?>
						<a class="btn cartbtn" href="<?php echo $cart_url; ?>">
							<i class="fa fa-shopping-basket" aria-hidden="true"></i>
							<?php //if($cart_num > 0): ?>
							<span class="num"><?php echo $cart_num; ?></span>
							<?php //endif; ?>
						</a>
						<div class="phoneholder">
							<?php echo $this->phone(get_option('theme_company_phone')); ?>
						</div>
						<div class="quote">
							<?php echo htmlspecialchars_decode(get_bloginfo('description')); ?>
						</div>

						<div class="clearme"></div>

						<a href="#searchform" class="btn searchbtn toggle"></a>
						<a href="#main-menu" class="btn menubtn toggle show-for-small hide-for-large"></a>
						<?php
							$defaults = array(
								'container' => false,
								'menu_class' => 'button-group',
								'menu_id' => 'main-menu',
								'fallback_cb' => '',
								'link_before' => '<span>',
								'link_after' => '</span>',
								'theme_location' => 'main',
							);
							echo $this->menu('main',$defaults);
						?>
					</div>
				</div>
			</div>
		</div>

		<div class="search" id="searchform">
			<div class="row">
				<div class="large-12 columns">
					<?php echo $this->searchForm(); ?>
				</div>
			</div>
		</div>
	</div>

	<?php if(is_front_page()): ?>
		<?php //echo $this->sidebarArea('content-header') ?>
		<div class="videoWrapper">
			<div class="mutebtn">
				<i class="fa fa-volume-up" aria-hidden="true"></i>
			</div>
			<div class="playtoggle">
				<i class="fa fa-pause" aria-hidden="true"></i>
			</div>
			<a data-target="#main" class="scrollto headerscrollto">
				<i class="fa fa-arrow-down" aria-hidden="true"></i>
			</a>

			<div class="overlay">
				<h1><?php echo get_post_meta(get_the_ID(), '_text_extratitle', true); ?></h1>
			</div>
			<div id="player"></div>
		</div>

		<script>
			// 2. This code loads the IFrame Player API code asynchronously.
			var tag = document.createElement('script');

			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

			// 3. This function creates an <iframe> (and YouTube player)
			//    after the API code downloads.
			var player;
			var paused = false;
			function onYouTubeIframeAPIReady() {
				player = new YT.Player('player', {
					playerVars: { 
						'autoplay': 1,
						'controls': 0, 
						'autohide': 1,
						'showinfo' : 0,
						'wmode': 'opaque',
						'rel': 0,
						'loop': 1,
						'modestbranding': false
					},
					videoId: 'nxg4C365LbQ',
					events: {
						'onReady': onPlayerReady,
						'onStateChange': onPlayerStateChange
					}
				});
			}

			jQuery(document).on('click', '.mutebtn', function(e) {
				
				if(player.isMuted()){
					player.unMute();
					jQuery('i',this).addClass('fa-volume-down');
					jQuery('i',this).removeClass('fa-volume-up');
				}
				else{
					player.mute();
					jQuery('i',this).removeClass('fa-volume-down');
					jQuery('i',this).addClass('fa-volume-up');
				}
				
			});

			jQuery(document).on('click', '.playtoggle', function(e) {
				
				if(player.getPlayerState() == '2'){
					player.playVideo();
					jQuery('i',this).addClass('fa-pause');
					jQuery('i',this).removeClass('fa-play');
				}
				else{
					player.pauseVideo();
					jQuery('i',this).removeClass('fa-pause');
					jQuery('i',this).addClass('fa-play');
				}
				
			});

			function onPlayerReady(event) {
				event.target.playVideo();
				event.target.mute();
			}

			function onPlayerStateChange(event) {
				if (event.data === YT.PlayerState.ENDED) {
					player.playVideo(); 
				}
			}

		</script>
	<?php else: ?>
		<?php 
			$header_1 = MultiPostThumbnails::get_post_thumbnail_url(get_post_type(), 'header-image-1', NULL, 'homepage-header');
			$header_2 = MultiPostThumbnails::get_post_thumbnail_url(get_post_type(), 'header-image-2', NULL, 'homepage-header'); 
			$header_3 = MultiPostThumbnails::get_post_thumbnail_url(get_post_type(), 'header-image-3', NULL, 'homepage-header');  
		?>
		<?php if($header_1): ?>
			<div class="headerslider">
				<div class="slide" style="background: url(<?php echo $header_1; ?>) no-repeat center center / cover;"></div>
				<?php if($header_2): ?>
					<div class="slide" style="background: url(<?php echo $header_2; ?>) no-repeat center center / cover;"></div>
				<?php endif; ?>
				<?php if($header_3): ?>
					<div class="slide" style="background: url(<?php echo $header_3; ?>) no-repeat center center / cover;"></div>
				<?php endif; ?>
			</div>
		<?php endif; ?>
	<?php endif; ?>

</header>
