<div class="medium-4 large-3 column">
	<?php
		$url = get_permalink( get_the_ID() );
		$thumbnail_id = get_post_thumbnail_id( get_the_ID() );
		$image = wp_get_attachment_image_src( $thumbnail_id, 'wc-cat-summary' );
	?>
	<a class="categorie heightsetter" href="<?php echo $url; ?>">
		<img src="<?php echo $image[0]; ?>">
		<h3><?php the_title(); ?></h3>
	</a>
</div>