.breadcrumbs-container {
	@include small-only {
		padding-top: $mp-small;
	}
	.breadcrumb-trail {
		font-size: 16px;
		.sep {
			color: $clr-main;
			font-size: 0;
			display: inline-block;
			margin: 0 15px;
			float: left;
			line-height: 26px;
			&:after{
				@include ionicons("\f3d3");
				font-size: 12px;
				line-height: 26px;
			}
		}
		a{
			color: $clr-text;
			display: block;
			float: left;
			line-height: 26px;
			&:hover{
				color: $clr-main;
			}
		}
	}
}
