.more_btn{
	display: inline-block;
	padding: 10px 50px 10px 20px;
	background: $clr-main;
	color: $clr-white;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 3px solid $clr-main-dk;
	position: relative;
	overflow: hidden;

	&:hover{
		color: $clr-white !important;
		border-bottom: 3px solid $clr-main-dk;
		&:before{
			top: 0;
			transform: rotate(0deg);
		}
	}
	&:after{
		position: absolute;
		top: 13px;
		right: 20px;
		@include ionicons("\f30f");
		color: $clr-white;
		font-size: 18px;
		transition: $trns-default;
		z-index: 20;
	}
	&:before{
		content: "";
		background: $clr-main-dk;
		position: absolute;
		left: -50px;
		right: -50px;
		height: 100px;
		top: 100px;
		transform: rotate(15deg);
		transition: $trns-default;
	}
	span{
		position: relative;
		z-index: 20;
	}
}

.readmore{
	font-weight: bold;
	position: relative;
	padding: 0 0 0 20px;
	text-transform: none;
	text-decoration: none !important;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 16px;
	color: $clr-dark;
	&.dark{
		color: $clr-white;
	}
	&:hover{
		color: $clr-main;
	}

	&:before{
		@include ionicons("\f30f");
		font-size: 20px;
		color: $clr-main;
		margin-right: 20px;
		position: absolute;
		left: 0px;
		top: 4px;
	}

	&.back{
		&:before{
			@include ionicons("\f2ca");
		}
	}

	&:after{
		display: none;
	}
}