.faceted-paginate {
	list-style-type: none;
	width: 100%;
	text-align: center;
	margin-top: $mp-medium;
	margin-bottom: $mp-medium;
	li {
		display: inline-block;
		height: 50px;
		width: 50px;
		.prev, .next {
			height: 50px;
			width: 50px;
			line-height: 50px;
			span {
				color: $clr-main;
			}
		}
		span,a {
			height: 50px;
			width: 50px;
			display:block;
			line-height: 50px;
			text-align: center;
		}
		a {
			span {
				transition: 0.3s all ease-in-out;
			}
			&:hover {
				color: $clr-text;
				span {
					color: $clr-text;
				}
			}
		}
		&.page {
			border-left: 1px solid $clr-widget-border;
			border-top: 1px solid $clr-widget-border;
			border-bottom: 1px solid $clr-widget-border;

		}
		&.page:last-of-type {
			border-right: 1px solid $clr-widget-border;
		}
		// &:last-of-type {
		// 	border-left: 1px solid $clr-widget-border;
		// }
	}
}
