.gform_wrapper {
	padding-top: $mp-medium;
	.gform_fields {
		margin: 0;
		list-style-type: none;
		display: table;
		width: 100%;
		.gfield {
			width: 100%;
			margin-bottom: 30px;
			clear:both;

			.gfield_label {
				display: inline-block;
				width: 35%;
				@include small-only {
					padding-top: $mp-medium;
					display: block;
					width: 100%;
				}
				color: $clr-black;
				font-family: $fnt-default;
				font-weight: 700;
				font-size: 16px;
				.gfield_required {
					color: $clr-red;
					font-size: 16px;
					padding-left: 5px;
				}
			}
			.ginput_container {
				display: inline-block;
				width: 65%;
				@include small-only {
					display: block;
					width: 100%;
				}
				float: right;
				clear: right;
				input[type="text"],
				input[type="email"] {
					height: 45px;
				}
				input[type="text"],
				input[type="email"],
				textarea {
					width: 100%;
					border: 1px solid $clr-widget-border;
					box-shadow: inset 0px 1px 1px rgba($clr-black, 0.3);
					&:focus {
						border: 1px solid $clr-main-dk;
						outline: none;
						box-shadow: inset 0px 1px 3px rgba($clr-main-dk, 0.3);
					}
				}
			}
		}
	}
	.gform_footer {
		height: 100px;
		position: relative;
		margin-top: 20px;
		.required_message {
			float: left;
			width: 35%;
		}
		.gform_button {
			cursor: pointer;
			position: absolute;
			left: 35%;
			height: 65px;
			background-color: $clr-main;
			border-bottom: 3px solid $clr-main-dk;
			color: $clr-white;
			font-size: 18px;
			padding: 0 30px;
			text-transform: uppercase;
			font-family: $fnt-default;
			font-weight: 700;
			transition: 0.3s all ease-in-out;
			&::after {
				@include ionicons("\f10b");
				color: $clr-white;
				padding-left: 30px;
				font-size: 18px;
			}
			&:focus,
			&:hover{
				background-color: $clr-main-dk;
			}
		}
	}
}
