.wp-paginate {
	list-style-type: none;
	width: 100%;
	text-align: center;
	a {
		border: none;
		color: $clr-text;
		&:hover {
			text-decoration: none;
			color: $clr-main;
			border: none;
		}
	}
	.prev,
	.next,
	.page {
		height: 50px;
		width: 50px;
		line-height: 50px;
		display: inline-block;
		&:hover {
			border-bottom: 1px solid $clr-widget-border;
		}
	}
	li {
		display: inline-block;
	}
	li {
		> .page {
			border-left: 1px solid $clr-widget-border;
			border-top: 1px solid $clr-widget-border;
			border-bottom: 1px solid $clr-widget-border;
		}
		&:last-of-type {
			> .page {
				border-right: 1px solid $clr-widget-border;
			}
			> .next {
				border-left: 1px solid $clr-widget-border;
			}
		}
	}
	.prev,
	.next {
		border: none;
		&:hover {
			border: none;
		}
	}

}
