.share-container {
	.sharethis {
		text-align: right;
		h4 {
			font-family: $fnt-default;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			display: inline-block;
			color: $clr-text;
		}
		.share-list {
			list-style-type: none;
			display: inline-block;
			.share-item {
				display: inline-block;
				margin-right: 20px;
				.mail::before {
					content: '';
					display: none;
				}
				&:last-of-type { margin-right: 0; }
				a {
					color: $clr-main;
					transition: 0.3s all ease-in-out;
					.fa { font-size: 20px; }
					&:hover {
						color: $clr-main-dk;
						// .fa { color: $clr-main; }
					}
				}
			}
		}
		#mail-share {
			bottom: 50px;
			left: 80px;
			@include small-only {
				left: -30px;
			}
			text-align: left;
			border: 1px solid $clr-widget-border;
			padding: $mp-small $mp-medium;
			p {
				margin-bottom: 0;
			}
			.mail-share-header {
				display: none;
			}
			&.active {
				visibility: visible;
				opacity: 1;
			}
			dt {
				margin-top: $mp-small;
			}
			dd {
				margin-left: 0;
			}
			.button {
				background-color: $clr-main;
				height: 50px;
				width: 100%;
				line-height: 50px;
				color: $clr-white;
				text-transform: uppercase;
				margin: 0 0 10px 0;
				transition: 0.3s all ease-in-out;
				border-bottom: 3px solid $clr-main-dk;
				cursor: pointer;
				&:focus,
				&:hover {
					background-color: $clr-main-dk;
				}
				&::after {
					@include ionicons("\f10b");
					color: $clr-white;
					padding-left: 20px;
					font-size: 14px;
				}
			}

		}
	}
}
