.slick-dots{
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 60px;
	left: 0px;
	width: 100%;
	text-align: right;
	max-width: 74.4rem;
    margin-right: auto;
    margin-left: auto;
    @include up-to-large{
    	padding: 0 40px;
    }

	li{
		display: inline-block;
		margin: 0 5px;
		&.slick-active{
			button{
				&:after{
					background: $clr-main;
				}
			}
		}
		button{
			font-size: 0;
			width: 10px;
			height: 10px;
			display: block;
			border: none;
			cursor: pointer;
			&:hover{
				&:after{
					margin-top: 4px;
				}
			}
			&:focus{
				border: none;
			}
			&:after{
				content: "";
				width: 10px;
				height: 10px;
				background: $clr-white;
				// border-radius: 3px;
				margin-top: 8px;
				display: block;
				transition: $trns-default;
			}
		}
	}
}