.subtitle {
	font-size: 24px;
	&.white {
		color: $clr-white;
	}
}
.sectiontitle{
	font-size: 36px;
	padding:10px 0 30px 0;
	font-weight: 400;
	&.small{
		font-size: 24px;
		font-weight: bold;
	}
	&.white{
		color: $clr-white;
	}
}
.back-link {
	.icon {
		padding-right: $mp-small;
		font-size: 18px;
	}
	.link-text {
		font-weight: 700;
		color: $clr-text;
		transition: 0.3s all ease-in-out;
		font-size: 18px;

		&:hover {
			color: $clr-main;
		}
	}
}
