.section-nav-menu {
	font-size: 16px;
	font-family: $fnt-default;
	text-transform: uppercase;
	font-weight: 700;
	background-color: $clr-subnav-bg;
	padding: 0 $mp-small;
	ul {
		max-width: 74.4rem;
		margin-right: auto;
		margin-left: auto;
		@include flexbox;
		height: 60px;

		list-style-type: none;
		padding: 0;
		li {
			line-height: 60px;
			display: inline-block;
			margin-right: 45px;
			a {
				color: $clr-text;
				&:hover {
					color: $clr-main;
				}
			}
			&:last-of-type{
				margin-right: 0;
			}
		}
	}
}


.homeusps{
	padding: 70px 0;

	.singular-content{
		h2{
			font-weight: 400;
			margin-bottom: 40px;
			font-size: 36px;
			line-height: 40px;
		}
	}

	.content-usps{
		@include flexbox;

		.box{

			.entry-icon{
				padding: 0 0 20px 70px;
				position: relative;
				img{
					width: 50px;
					height: auto;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			h3{
				font-weight: 700;
				font-size: 24px;
				line-height: 23px;
				font-style: italic;
				padding: 15px 0;
			}
		}
	}
}

.col-right{
	padding-top: $mp-large;
	display: flex;
	flex-flow: row wrap;
}

.bottom{
	.widget{
		&.widget-contentblock{
			.more_btn{
				width: auto;
			}
		}
	}
}

.widget {
	&.widget-contentblock {

		.std{
			padding: $mp-medium;
			&.withlink{
				padding-bottom: $mp-large;
			}
		}

		margin-bottom: $mp-medium;
		position: relative;

		h2, h3 {
			padding: 10px 0 20px 0;
		}
		.more_btn {
			width: 100%;
			text-decoration: none;
			border-bottom: 3px solid $clr-main-dk;
			&:hover {
				color: $clr-white;
				background: $clr-main-dk;
				border-bottom: 3px solid $clr-main-dk;
			}

			&:before{
				display: none;
			}
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				margin-bottom: 10px;
				font-size: 18px;
				position: relative;
				margin-left: 40px;
			}
			li::before {
				position: absolute;
				left: -40px;
				top: 5px;
				@include font-awesome('\f14a');
				color: $clr-main;
			}
		}
		&.border-gray {
			border: 1px solid $clr-widget-border;
		}
		&.icon-thumb {
			position: relative;
			padding-top: $mp-medium;
			margin-bottom: $mp-large;
			&::before {
				position: absolute;
				top: -30px;
				left: calc(50% - 30px);
				width: 60px;
				height: 60px;
				@include font-awesome('\f087');
				font-size: 30px;
				border: 1px solid $clr-widget-border;
				background-color: $clr-white;
				text-align: center;
				line-height: 60px;
				color: $clr-main;
			}
		}
		.inside{
			height: 50px;
			width: 50px;
			font-weight: bold;
			text-transform: uppercase;
			display: block;
			position: absolute;
			bottom: -1px;
			right: -1px;
			overflow: hidden;
			&:hover{
				width: 100%;
			}
			&:after{
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				height: 50px;
				@include ionicons("\f30f");
				font-size: 20px;
				color: $clr-white;
				line-height: 50px;
				text-align: center;
				background: $clr-main;
			}
			span{
				padding: 0 20px;
				background: $clr-main-dk;
				color: $clr-white;
				display: block;
				position: absolute;
				right: 50px;
				top: 0;
				height: 50px;
				font-size: 16px;
				line-height: 50px;
				white-space: nowrap;
			}
		}

	}
}

.widget_product_categories{
	border: 1px solid $clr-widget-border;
	padding: 30px;
	margin-bottom: 30px;
	.product-categories{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			position: relative;
			margin-bottom: 15px;
			&.current-cat{
				a{
					&:before{
						@include ionicons("\f35d");
					}
				}
				ul{
					margin: 0 0 0 20px;
					list-style: none;
					padding: 0;
					li{
						margin: 5px 0 10px;
						a{
							&:before{
								@include ionicons("\f209");
							}
						}
					}
				}
			}
			a{
				display: inline-block;
				padding: 0 0 0 30px;
				color: $clr-text;
				&:hover{
					color: $clr-main;
				}
				&:before{
					@include ionicons("\f30f");
					color: $clr-main;
					position: absolute;
					left: 0;
					top: 4px;
				}
			}

			ul{
				margin: 0 0 10px 20px;
				list-style: none;
				padding: 0;
				li{
					a{
						&:before{
							@include ionicons("\f209");
						}
					}
				}
			}

		}
	}
}
