input.widefat.address-latlng{
  display: none;
}
.address-container{
  position: relative;
}
.address-container .status{
  background-color: #fff;
  display: block;
  position: absolute;
  z-index: 5;
  top: 30px;
  left: 0;
  width: 50%;
  font-weight: bold;
  color: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0;
  opacity: 0;
  transition: .5s opacity ease-in-out;
}
.address-container .status p{ padding: 0 10px;margin: 0; line-height: 30px; transition: .5s opacity ease-in-out}
.address-container .status.green{ background-color: #8A9B0F; opacity: 1; }
.address-container .status.red{ background-color: #BD1550; opacity: 1; }
.address-container .status.orange{ background-color: #E97F02; opacity: 1; }

.geocoding-results{
  background-color: white;
  border: 1px solid silver;
  min-height: 20px;
  width: 80%;
  z-index: 10;
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
}
.geocoding-results ul{
  padding: 0!important;
  margin: 0!important;
  display: block!important;
  width: 100%!important;
  overflow: hidden;

}
.geocoding-results ul li{
  border-bottom: 1px solid silver!important;
  display: block!important;
  height: 40px!important;
  line-height: 40px;
  width: 100%!important;
  margin:0!important;
  padding: 0 10px;

}
.geocoding-results ul li:hover{
  cursor: pointer;
  background-color: whitesmoke;
  border-bottom-color: #408ac2;
}
.geocoding-results.showresults{
  display: block;
}
