<?php
    $imgURL = MultiPostThumbnails::get_post_thumbnail_url(get_post_type(), 'overview-image', NULL, 'news-overview');
    if($imgURL == ''){
        $att = wp_get_attachment_image_src( get_option('theme_image_news_thumb'), 'news-overview' );
        $imgURL = $att[0];
    }

    $args = array('orderby' => 'name', 'order' => 'ASC', 'fields' => 'names');
    $terms = wp_get_post_terms( get_the_ID(), 'news_category', $args );
?>
<div class="large-4 medium-6 small-12 columns">
	<div class="block">
        <div class="entry-header" style="background-image: url(<?php echo $imgURL; ?>);">
			<span class="entry-title-container">
				<h3 class="entry-title" itemprop="name"><?php the_title(); ?></h3>
			</span>
        </div>
		<div class="inner">
	        <div class="entry-content" itemprop="description">
	            <?php echo $this->excerpt(35); ?>
	        </div>
			<div class="entry-meta">
				<meta itemprop="datePublished" content="<?php echo get_the_date('c') ?>" />
				<span class="day"><?php echo get_the_date('d'); ?></span>
				<span class="month"><?php echo get_the_date('F'); ?></span>
				<span class="year"><?php echo get_the_date('Y'); ?></span>
			</div>
			<a href="<?php echo get_permalink(); ?>" itemprop="url" title="<?php echo esc_attr(get_the_title()) ?>" class="inside" itemscope itemtype="http://schema.org/Article"><span>Lees meer</span></a>
		</div>
	</div>
</div>
