<?php
 $postid = (isset($this->postid)) ? $this->postid : get_the_ID();
 $extra_title = get_post_meta($postid, '_text_extratitle', true);
 $title = (!empty($extra_title)? $extra_title : get_the_title());
?>
<section class="page-title">
	<div class="row">
		<h1><?php echo apply_filters('the_title', $title);?></h1>
	</div>
</section>
