<div class="facetsearch" id="faceted-search-container">


	<div id="newslist" class="faceted-search-content post-list row">
		<?php if (have_posts()): ?>
			<?php echo $this->partial('partials/news/list.phtml') ?>
		<?php endif ?>
		<?php wp_reset_query() ?>
	</div>


	<?php if (isset($this->facetedSearch)): ?>
		<div class="row">
			<div class="small-12 column">
				<div class="faceted-search-footer small-12 column">
					<?php if($filter = $this->facetedSearch->getPaginateFilter()): ?>
						<div class="faceted-pagination-container">
							<?php echo $this->facetedPagination($filter, array('nextpage' => '<span class="ion ion-android-arrow-forward"></span>', 'previouspage' => '<span class="ion ion-android-arrow-back"></span>' )); ?>
						</div>
					<?php endif; ?>

					<div class="load-indicator">
						<div class="spinner">
							<div class="bounce1"></div>
							<div class="bounce2"></div>
							<div class="bounce3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<?php endif ?>

</div>


<script>
	jQuery(function($) {
		var $container = $('#faceted-search-container');
		$container.facetedSearch({
			url: '<?php the_permalink() ?>',
			autoSubmit: true,
			paginate: {
				container: '.faceted-pagination-container',
				items: 'a'
			},
			form: '.form',
			target: '.post-list',
		});

		$container.on('updated', function(event, data){
			$('.faceted-pagination-container').html(data.pagination);
		});
	});
</script>
