.wccategories{
	padding: 80px 0;
	background: url(../img/background_categories.jpg) no-repeat top center / cover;
	position: relative;

	.row{
		max-width: 84rem;
		&.toprow{
			z-index: 20;
			position: relative;
			margin-bottom: 30px;
		}
		.row{
			margin-right: -5px;
    		margin-left: -5px;
		}
	}
	.column{
		position: relative;
		padding: 0 5px;

		&.last{
			@media screen and (max-width: 40em){
				min-height: 150px;
			}
		}

		.categorie {
			margin-bottom: 10px;
			border-bottom: 1px solid $clr-main;
			position: relative;
			display: block;
			&:hover{
				&:before{
					background: rgba($clr-main, 0.4);
				}
				&:after{
					opacity: 1;
				}
			}
			&:before{
				content: "";
				@include absolutefill();
				background: rgba($clr-main, 0);
				z-index: 50;
				transition: $trns-default;
			}
			&:after{
				position: absolute;
				bottom: 40px;
				right: 40px;
				@include ionicons("\f30f");
				color: $clr-white;
				font-size: 24px;
				z-index: 150;
				opacity: 0;
				transition: $trns-default;
				@media screen and (max-width: 64em){
					display: none;
				}
			}
			img{
				display: block;
			}
			h3{
				position: absolute;
				bottom: 0px;
				left: 0px;
				padding: 100px 60px 35px 40px;
				color: $clr-white;
				font-size: 28px;
				font-weight: 700;
				display: block;
				width: 100%;
				z-index: 100;
				@include black-gradient(0.6,0);
				@media screen and (max-width: 64em){
					padding: 40px 20px 20px;
					font-size: 24px;
				}
				@media screen and (max-width: 40em){
					padding: 20px 10px 10px;
					font-size: 20px;
				}
			}
		}
		.heightgetter{
			position: absolute;
			top: 0; bottom: 0;
			left: 5px; right: 5px;
			background-size: cover;
			background-position: center center;
		}
	}
}

.woocommerce{

	.quantity{
		.qty{
			border: 2px solid $clr-grey;
		    height: 30px;
		    line-height: 30px;
		}
	}

	&.maincontent{
	    .products{
	    	.product{
	    		@media only screen and (min-width: 768px){
					float: left;
				    margin: 0 3% 2.992em 0;
				    padding: 0;
				    position: relative;
				    width: 31.3%;
	    		}
	    		@include small-only{
	    			margin-right: 0;
	    			width: 100%;
	    			float: none;
	    		}
		    		
			    &.last{
			    	margin-right: 0;
			    }
	    	}
	    } 
	}

	.products{
		.product{
			position: relative;
			overflow: hidden;
			&:hover{
				.woocommerce-LoopProduct-link{
					// border: 2px solid $clr-grey;
					& + .ajax_add_to_cart{
						opacity: 1;
					}

					h2{
						color: $clr-main;
						transition: $trns-default;
					}
				}
			}
			.woocommerce-LoopProduct-link{
				text-align: center;
				display: block;
				transition: $trns-fast;
				position: relative;


				h2{
					font-size: 20px;
					font-weight: bold;
					color: $clr-dark;
					margin-bottom: 5px;
				}
				.price{
					color: $clr-main;
					font-weight: normal;
				}

			}

			.ajax_add_to_cart{
				position: absolute;
				top: calc(33% - 25px);
				left: calc(50% - 25px);
				color: $clr-white;
				background: $clr-main-dk;
				height: 50px;
				line-height: 50px;
				margin: 0;
				opacity: 0;
				transition: $trns-default;
				padding: 0 0 0 35px;
				border-radius: 0;
				text-align: center;
				&:hover{
					left: 0;
					width: 100%;
					span{
						max-width: 300px;
						padding-left: 20px;
					}
				}
				&:after{
					@include ionicons("\f30f");
					font-size: 22px;
					width: 50px;
					height: 50px;
					text-align: center;
					line-height: 50px;
					background: $clr-main;
					position: absolute;
					left: 0;
					top: 0;
				}
				span{
					padding-left: 0px;
					max-width: 0px;
				    overflow: hidden;
				    display: block;
				    transition: $trns-default;
				}
			}
		}
	}

	.woocommerce-pagination{
		margin-bottom: 60px;
		.page-numbers{
			border: none;
			margin: 0;
			li{
				border: none;
				background: none;
				overflow: visible;

				span, a{
		    		margin-left: -2px;
		    		width: 45px;
		            height: 45px;
		            background: $clr-white;
		            border: 1px solid $clr-widget-border;
		            // border-right: none;
		            line-height: 41px;
		            text-align: center;
		            display: block;
		            color: $clr-dark;
		            transition: 0.3s all ease-in-out;
		            font-weight: bold;
		            padding: 0;
		            box-sizing: border-box;
		            &:hover{
		            	background: $clr-white;
		            	color: $clr-main;
		            }
		            &.current{
		            	background: $clr-white;
		            	color: $clr-main;
		            }
		            &.next{
		            	border: none;
		            	margin-left: 0;
		            	font-size: 0;
		            	line-height: 44px;
		            	&:hover{
		            		padding-left: 5px;
		            	}
		            	&:after{
		            		@include font-awesome("\f061");
							color: $clr-main;
							font-size: 16px;
							line-height: 40px;
		            	}
		            }
		            &.prev{
		            	border: none;
		            	margin-left: 0;
		            	font-size: 0;
		            	line-height: 44px;
		            	&:hover{
		            		padding-right: 5px;
		            	}
		            	&:after{
		            		@include font-awesome("\f060");
							color: $clr-main;
							font-size: 16px;
							line-height: 40px;
		            	}
		            }

		    	}
			}

		}
	}

	.woocommerce-result-count,
	.woocommerce-ordering{
		display: none;
	}

	.product{
		.summary{
			.woocommerce-product-details__short-description{
				p{
					font-weight: bold;
					font-size: 19px;
					line-height: 26px;
				}
			}

			.attributes,
			.product_meta{
				list-style: none;
				padding: 10px 0 0;
				margin: 0;
				label{
					color: $clr-dark;
					text-transform: uppercase;
					font-weight: bold;
					width: 110px;
					display: inline-block;
					font-size: 16px;
				}
				.value{
					font-size: 16px;
					color: lighten($clr-text, 10%);
				}
			}

			.product_meta{
				padding: 0 0 30px;
			}

			.prod_usp{
				ul{
					list-style: none;
					margin: 20px 0 0;
					text-align: center;
					li{
						display: inline-block;
						padding: 10px 30px 10px 25px;
						position: relative;
						font-size: 16px;
						color: lighten($clr-text, 10%);
						&:before{
							@include font-awesome("\f058");
							color: $clr-main;
							position: absolute;
							top: 14px;
							left: 0px;
						}
					}
				}
			}
		}
		.greyblock{
			padding: 30px;
			background: $clr-white-dk;
			position: relative;
			@media screen and (max-width: 64em){
				margin-top: 20px;
			}
			@include afterclear();
			.price{
				font-size: 36px;
				color: $clr-main;
				font-weight: bold;
				float: left;
				line-height: 50px;
				margin: 0;
				@media screen and (max-width: 64em){
					margin: 0 0 20px 0;
					font-size: 36px;
					text-align: center;
					float: none;
					display: block;
				}
				.woocommerce-Price-currencySymbol{
					margin-right: 10px;
				}
			}

			.cart{
				float: right;
				margin: 0;

				.qty{
					border: 2px solid $clr-text-lt;
					height: 50px;
					line-height: 50px;
				}
			}

			.prodlabel{
				position: absolute;
				top: -36px;
				right: 0;
				height: 36px;
				line-height: 36px;

				font-size: 13px;
				text-transform: uppercase;
				font-weight: bold;
				padding: 0 15px;
				&.preorder{
					background: $clr-main;
					color: $clr-white;
				}
				&.reprint{
					background: $clr-dark;
					color: $clr-white;
				}
			}
		}

		.woocommerce-product-gallery{
			max-height: 450px;
			text-align: center;
			.woocommerce-product-gallery__image{
				text-align: center;
				a{
					display: inline-block;
				}
			}
			img{
				max-height: 450px;
				width: auto !important;
			}
		}
	}


	.woocommerce-cart-form{
		input[type="text"]{
			// border: 2px solid #939194 !important;
		    height: 50px;
		    line-height: 50px;
		    min-width: 150px;
		}
	}

	.shop_table{
		border: 2px solid $clr-grey !important;
		@media screen and (max-width: 64em){
		}
		&.cart{
			border: none !important;
		}

		&.woocommerce-checkout-review-order-table{
			thead{
				tr{
					th{
						border: none !important;
						border-bottom: 2px solid $clr-grey !important;
						&:first-child{
							border: none !important;
							border-bottom: 2px solid $clr-grey !important;
						}
						&:last-child{
							border: none !important;
							border-bottom: 2px solid $clr-grey !important;
						}
					}
				}
			}
			tr{
				&.cart_item{
					td{
						border: none !important;
						border-bottom: 2px solid $clr-grey !important;

						&:first-child{
							border: none !important;
							border-bottom: 2px solid $clr-grey !important;
						}
						&:last-child{
							border: none !important;
							border-bottom: 2px solid $clr-grey !important;
						}
					}
				}
			}
		}

		tr{
			&.cart-subtotal{
				th,td{
					border-top: none !important;
				}
			}
		}
		thead{
			tr{
				th{
					&:first-child{
						border-left: 2px solid $clr-grey !important;
					}
					&:last-child{
						border-right: 2px solid $clr-grey !important;
					}
				}
			}
		}
		tr{
			&.cart_item{
				td{
					@media screen and (max-width: 64em){
						border-left: 2px solid $clr-grey !important;
						border-right: 2px solid $clr-grey !important;
					}
					&:first-child{
						border-left: 2px solid $clr-grey !important;
						@media screen and (max-width: 64em){
						}
					}
					&:last-child{
						border-right: 2px solid $clr-grey !important;
						@media screen and (max-width: 64em){
						}
					}
				}
				&:last-child{
					td{
						&:first-child{
						}
						&:last-child{
						}
					}
				}
			}
		}
		th,td{
			border-top: 2px solid $clr-grey !important;
		}

		.actions{
			padding: 10px 0;
			.button{
				border: 2px solid $clr-main;
				padding: 15px 25px 15px 25px !important;
				font-weight: bold;
				background: transparent !important;
				color: $clr-dark !important;
				position: relative;
				&:hover{
					background: $clr-main !important;
					color: $clr-white !important;
					&:after{
						color: $clr-white;
					}
				}
			}
		}
	}

	.cart_totals{
		margin-top: 40px;
		float: none !important;
		width: 100% !important;
		@include afterclear();
		h2{
			display: block;
			margin-bottom: 20px;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			color: $clr-dark;
			border-top: none;
			padding: 0;
		}
		.shop_table{
			width: 48%;
			float: left;
			@media screen and (max-width: 64em){
				float: none;
				width: 100%;
			}
		}

		.wc-proceed-to-checkout{
			width: 48%;
			float: right;
			padding-top: 30px;
			@media screen and (max-width: 64em){
				float: none;
				width: 100%;
			}
		}
	}

	button,
	.checkout-button{
		&.button{
			&.alt{
				border: 2px solid $clr-main;
				padding: 15px 55px 15px 25px;
				font-weight: bold;
				background: transparent !important;
				color: $clr-dark !important;
				position: relative;
				&:hover{
					background: $clr-main !important;
					color: $clr-white !important;
					&:after{
						color: $clr-white;
					}
				}
				&:after{
					@include font-awesome("\f061");
					color: $clr-main;
					position: absolute;
					top: 14px;
					right: 25px;
				}
			}
		}
	}

	a.button{

		&.wc-backward{
			border: 2px solid $clr-main !important;
			font-weight: bold !important;
			background: transparent !important;
			color: $clr-dark !important;
			position: relative !important;
			padding: 15px 25px 15px 55px !important;
			&:hover{
				background: $clr-main !important;
				color: $clr-white !important;
				&:after{
					color: $clr-white !important;
				}
				&:before{
					color: $clr-white !important;
				}
			}

			&:before{
				@include font-awesome("\f060");
				color: $clr-main;
				position: absolute;
				top: 14px;
				left: 25px;
			}
		}

	}

	.out-of-stock{
		display: none;
	}

	.wc_gallery{
		.pageslider{
			margin: 20px 0 0;
		}
	}

	.woocommerce-checkout{
		.formblock{
			padding: 40px;
			background: $clr-white-dk;
			@media screen and (max-width: 64em){
				margin-bottom: 30px;
			}
			input[type="text"],
			input[type="number"],
			input[type="phone"],
			input[type="tel"],
			input[type="email"],
			textarea,
			select{
				min-width: 0;
			    background: $clr-white;
			    border: none;
			    border-top: 2px solid #d9d9d9;
				width: 100%;
				color: $clr-dark;
				padding: 10px;
			}
			.select2{
				&.select2-container--open{
					.select2-selection--single{
						border-left: 2px solid #d9d9d9;
						border-right: 2px solid #d9d9d9;
					}
				}
				.select2-selection--single{
					border: none;
					border-top: 2px solid #d9d9d9;

					background: $clr-white;
					height: 40px;
					span{
						padding: 5px 14px;
						&.select2-selection__arrow{
							padding: 20px;
						}
					}
				}
			}


			label{
				display: block;
			    font-weight: bold;
			    font-size: 16px;
			}
		}
		#payment{
			background: none;
			ul{
				&.payment_methods{
					background: $clr-white-dk;
					border-bottom: none;
				}
			}
		}

		.place-order{
			padding: 20px 0;
		}
	}



	.woocommerce-order{
		h2{
			display: block;
			padding: 0;
			margin-bottom: 10px;
			font-size: 20px;
			font-weight: bold;
			color: $clr-dark;
		}
		.woocommerce-order-overview{

			&.order_details{
				border: 2px solid $clr-main;
				li{
					text-transform: none;
					font-size: 1em;
					padding: 10px 20px;
					margin: 0;
					width: 25%;
				}
			}
		}
		.woocommerce-order-details{
			margin: 20px 0;
			.order_details{
				thead{
					tr{
						&:first-child{
							th,td{
								border-top: none !important;
								border-left: none !important;
								border-right: none !important;
							}
						}
					}
				}

			}
			.woocommerce-customer-details{
				.woocommerce-table--customer-details{
					tr{
						&:first-child{
							th,td{
								border-top: none !important;
							}
						}
					}
				}
			}
		}
	}


	.payment_box{
		select{
			min-width: 0;
		    background: $clr-white;
		    border: none;
		    border-top: 2px solid #d9d9d9;
			width: 100%;
			color: $clr-dark;
			padding: 10px;
		}
	}

	.shopcontent{
		padding: 20px 0;
		margin-top: 20px;
		&.greyborder{
			border-top: 1px solid $clr-widget-border;
		}
	}

}
