<?php if (isset($this->content)): ?>
<li class="list-item post-item">
    <dl class="post-item-bar">
        <dt class="post-item-handle">
            <span class="post-item-title">
                <?php 
                    $content = urldecode($this->content);
                    $decoded = json_decode($content);
                    if(json_last_error() == JSON_ERROR_NONE):
                ?>
                    <?php if(property_exists($decoded, "day")): ?>
                        <strong>Dag <?php echo $decoded->day; ?>:</strong> <?php echo $decoded->program; ?>
                    <?php elseif (property_exists($decoded, "date")): ?>
                        <strong>Datum:</strong> <?php echo $decoded->date; ?><br/>
                        <strong>Prijs:</strong> <?php echo $decoded->price; ?>
                    <?php endif; ?>
                        
             
                <?php else: ?>
                    <?php echo $content; ?>
                <?php endif; ?>
            </span>
            <span class="item-controls">
                <a class="item-delete" href="#"><span><?php _e('Verwijderen') ?></span></a>
            </span>
            <span class="hidden">
                <input class="post-id" type="hidden" name="<?php echo $this->type ?>[]" value='<?php echo $this->content; ?>'>
            </span>
        </dt>
    </dl>
</li>
<?php endif ?>