<?php if ($this->categories): $numcat = count($this->categories); ?>
<section class="display-list wccategories">

	<div class="row">
		<div class="small-12 column">
			<center>
				<h2 class="sectiontitle white"><?php _e('Laat u inspireren...'); ?></h2>
			</center>
		</div>
	</div>

    <div class="row toprow">

    	<div class="small-12 medium-9 column">
    		<div class="row">
    			<div class="medium-4 column">
    			<?php if( $numcat > 0 ): ?>
	    			<?php
	    				$cat = $this->categories[0];
	    				$url = get_permalink( $cat->ID );
	    				$thumbnail_id = get_post_thumbnail_id( $cat->ID );
	    				$image = wp_get_attachment_image_src( $thumbnail_id, 'wc-cat-square' );
	    			?>
    				<a class="categorie heightsetter" href="<?php echo $url; ?>">
    					<img src="<?php echo $image[0]; ?>">
    					<h3><?php echo $cat->post_title; ?></h3>
    				</a>
    			<?php endif; ?>
    			</div>

    			<div class="medium-8 column">
    			<?php if( $numcat > 1 ): ?>
    				<?php
	    				$cat = $this->categories[1];
	    				$url = get_permalink( $cat->ID );
	    				$thumbnail_id = get_post_thumbnail_id( $cat->ID );
	    				$image = wp_get_attachment_image_src( $thumbnail_id, 'wc-cat-portrait' );
	    			?>
    				<a class="categorie heightgetter" href="<?php echo $url; ?>" style="background-image: url(<?php echo $image[0]; ?>);">
    					<h3><?php echo $cat->post_title; ?></h3>
    				</a>
    			<?php endif; ?>
    			</div>
    		</div>

    		<div class="row">
    			<div class="medium-8 column">
    			<?php if( $numcat > 2 ): ?>
    				<?php
	    				$cat = $this->categories[2];
	    				$url = get_permalink( $cat->ID );
	    				$thumbnail_id = get_post_thumbnail_id( $cat->ID );
	    				$image = wp_get_attachment_image_src( $thumbnail_id, 'wc-cat-portrait' );
	    			?>
	    			<a class="categorie heightgetter" href="<?php echo $url; ?>" style="background-image: url(<?php echo $image[0]; ?>);">
	    				<h3><?php echo $cat->post_title; ?></h3>
	    			</a>
	    		<?php endif; ?>
    			</div>

    			<div class="medium-4 column">
    			<?php if( $numcat > 3 ): ?>
    				<?php
	    				$cat = $this->categories[3];
	    				$url = get_permalink( $cat->ID );
	    				$thumbnail_id = get_post_thumbnail_id( $cat->ID );
	    				$image = wp_get_attachment_image_src( $thumbnail_id, 'wc-cat-square' );
	    			?>
	    			<a class="categorie heightsetter" href="<?php echo $url; ?>">
	    				<img src="<?php echo $image[0]; ?>">
	    				<h3><?php echo $cat->post_title; ?></h3>
	    			</a>
	    		<?php endif; ?>
    			</div>
    		</div>
    	</div>

    	<div class="small-12 medium-3 column last">
    	<?php if( $numcat > 4 ): ?>
    		<?php
				$cat = $this->categories[4];
				$url = get_permalink( $cat->ID );
	    		$thumbnail_id = get_post_thumbnail_id( $cat->ID );
				$image = wp_get_attachment_image_src( $thumbnail_id, 'wc-cat-landscape' );
			?>
			<a class="categorie heightgetter" href="<?php echo $url; ?>" style="background-image: url(<?php echo $image[0]; ?>);">
				<h3><?php echo $cat->post_title; ?></h3>
			</a>
		<?php endif; ?>
    	</div>

    </div>

    <div class="row">
		<div class="small-12 column">
			<center>
				<a class="more_btn" href="<?php echo get_permalink( get_option( 'theme_page_meubelsoorten' ) ); ?>">
					<span><?php _e('meer inspiratie'); ?></span>
				</a>
			</center>
		</div>
	</div>
</section>
<?php endif ?>
