<?php $post_id = get_option('woocommerce_shop_page_id'); ?>

<?php
	echo $this->partial('partials/parts/extra-title.phtml', array('postid' => $post_id)); // optional title meta box
?>

<section class="maincontent woocommerce page-<?php echo get_post_type() ?>">
	<div class="row">
		<div class="small-12 large-3 column">
			<div class="woocommerce_widgets">
				<?php dynamic_sidebar(5); ?>
			</div>
		</div>
		<div class="small-12 large-9 column">
			<?php woocommerce_content(); ?>
		</div>
	</div>
</section>

<section class="shopcontent greyborder">
	<div class="row align-center">
		<div class="small-12 medium-8 column">
			<?php echo $this->partial('partials/woocommerce/singular.phtml',array('post'=> get_post($post_id))) ?>
		</div>
	</div>
</section>