<?php if (isset($this->attachment_ids) && is_array($this->attachment_ids)): $attachmentIds = array_values($this->attachment_ids) ?>
	<?php if(count($attachmentIds) > 0): ?>
	<!-- <div class="row"> -->
		<div class="small-12 column">
			<div class="row">
				<div class="pageslider">
					<?php foreach ($attachmentIds as $index => $attachmentId): ?>
						<?php
							$thumb = wp_get_attachment_image_src($attachmentId, 'pageslide');
							$fancy = wp_get_attachment_image_src($attachmentId, 'pageslide-large');
							$title = get_the_title($attachmentId);
						?>
						<div class="medium-6 column">
						    <a class="slide fancybox" href="<?php echo $fancy[0] ?>" data-fancybox="gallery" rel="gallery">
						    	<div class="inner">
									<img src="<?php echo $thumb[0] ?>">
									<div class="overlay"></div>
								</div>
						    </a>
						</div>
					<?php endforeach ?>
				</div>
			</div>
		</div>
	<!-- </div> -->
	<?php endif ?>
<?php endif ?>

