<div class="singular-content" itemprop="articleBody">
	<?php 
		
		$content_post = get_post($this->post);
		$content = $content_post->post_content;
		$content = apply_filters('the_content', $content);
		$content = str_replace(']]>', ']]&gt;', $content);
	?>
    <div class="inner"><?php echo $content; ?></div>
</div>
