<?php $postid = (isset($this->postid)) ? $this->postid : get_the_ID(); ?>
<?php if($extra_title = get_post_meta($postid, '_text_extratitle', true)):?>
	<section class="page-title">
		<div class="row">
			<h1><?php echo apply_filters('the_title', $extra_title);?></h1>
		</div>
	</section>
<?php endif;?>
