<?php $gallery = $this->gallery(['template' => 'partials/page/gallery/list.phtml']); ?>
<?php if($gallery):?>
<section class="page-gallery">
	<h2 class="sectiontitle small"><?php _e('Greep uit ons gerealiseerd werk'); ?></h2>
	<?php echo $this->gallery(['template' => 'partials/page/gallery/list.phtml']);?>
</section>
<?php endif;?>
