<div class="page-bottom">
	<div class="row">
		<div class="large-8 columns breadcrumbs-container">
			<?php echo $this->breadcrumbs();?>
		</div>
		<div class="large-4 columns share-container">
			<?php echo $this->shareThis();?>
		</div>
	</div>
</div>
