<?php
  $address = (isset($this->address))? $this->address : "Burg. Falkenaweg 54 Heerenveen";
  $coords = (isset($this->coords))? $this->coords: '52.9508328,5.9321369';
  $coords = $this->latLong($coords);
  $zoom  = ($this->zoom)? $this->zoom: 20;
?>
<div id="map-markers" data-lat="<?php echo $coords->lat;?>" data-lng="<?php echo $coords->long;?>" data-zoom="<?php echo $zoom;?>"  data-scrollwheel="false" data-zoom-control="false" data-map-type-control="false" data-scale-control="false" data-street-view-control="false" data-rotate-control="false" data-fullscreen-control="false" data-target="#map">
  <?php if(!$this->hide_marker):?>
  <div class="marker" data-lat="<?php echo $coords->lat; ?>" data-lng="<?php echo $coords->long; ?>" data-icon="<?php echo $this->marker;?>">
    <?php if(!$this->hide_popup):?>
    <div class="infowindow-container text-left">
      <h4><?php echo __('Contact');?></h4>
      <?php echo $address;?>
    </div>
    <?php endif;?>
  </div>
  <?php endif;?>
</div>
