<?php //var_dump($this);?>
<?php $coords = $this->latLong(get_post_meta(get_the_ID(), '_googlemap_address', true)); ?>
<div class="marker" data-lat="<?php echo $coords->lat; ?>" data-lng="<?php echo $coords->long; ?>" data-icon="<?php echo $this->marker;?>">
  <div class="infowindow-container">
    <div class="infowindow">
      <h4><?php the_title();?></h4>
      <ul>
        <li><?php echo get_post_meta( get_the_ID(), '_googlemap_phone', true);?></li>
        <li><?php echo get_post_meta( get_the_ID(), '_googlemap_email', true);?></li>
      </ul>
      <?php echo get_post_meta( get_the_ID(),'_googlemap_address_formatted', true);?><br/>
      <?php echo get_post_meta( get_the_ID(),'_googlemap_marker_content_additional_info', true);?>
    </div>
  </div>
</div>
