<div class="small-12 medium-4 column">
	<div class="box">
		<div class="entry-icon">
			<?php if($this->usp_style == 'icon'):?>
				<span class="linecons fa <?php echo $this->icon_id;?>"></span>
			<?php else:?>
				<?php 
					$image_url = wp_get_attachment_image_src($this->image_id, 'large');
					$image_url = $image_url[0];
				?>
				<img src="<?php echo $image_url;?>"/>
			<?php endif;?>
			<h3><?php echo apply_filters('the_title', $this->title);?></h3>
		</div>
		<div class="entry">
			
			<?php echo apply_filters('the_content', $this->content);?>
		</div>
	</div>
</div>