<?php if (isset($this->post) && is_object($this->post)): $post = $this->post ?>
	<div class="std <?php if($this->url_page): ?>withlink<?php endif; ?>">
	    <?php echo apply_filters('the_content', $post->post_content) ?>
	</div>

	<?php if($this->url_page): ?>
		<a href="<?php echo get_permalink($this->url_page) ?>" class="inside">
			<span class="text"><?php echo $this->url_text; ?></span>
		</a>
	<?php endif; ?>
<?php endif; ?>
