<?php if (isset($this->post) && is_object($this->post)): $post = $this->post ?>

	<?php $image = wp_get_attachment_image_src($this->attachment_id,'featured-bg'); ?>
	<div class="overlay" style="background: url(<?php echo $image[0]; ?>) no-repeat center center / cover"></div>

	<div class="block">
		<div class="row align-center">
			<div class="small-10 medium-7 column">

				<div class="inner">
					<h3><?php echo $this->title ?></h3>
					<div class="text">
						<?php echo apply_filters('the_content', $post->post_content) ?>
					</div>
					<a href="<?php echo get_permalink($this->url_page) ?>" class="inside">
						<span class="text"><?php echo $this->url_text; ?></span>
					</a>
				</div>

			</div>
		</div>
	</div>

<?php endif ?>