<?php $slide_image = wp_get_attachment_image_src($this->attachment_id, 'slider-simple');?>
<div class="slide-content">
	<div class="row">
		<div class="small-12 columns">
			<div class="flex-caption">
				<?php if(!empty($this->subtitle)):?>
					<h4><?php echo apply_filters('the_title', $this->subtitle);?></h4>
				<?php endif;?>
				<?php if(!empty($this->title)):?>
					<h3><?php echo apply_filters('the_title', $this->title);?></h3>
				<?php endif;?> 
			</div>
		</div>
	</div>
	<div class="row">

		<div class="small-12 medium-6 medium-order-2 columns">
			<div class="image">
				<?php if(!empty($this->tag)):?>
					<div class="tag">
						<?php echo $this->partial('partials/svg/logoback.svg'); ?>
						<span><?php echo apply_filters('the_title', $this->tag);?></span>
					</div>
				<?php endif;?> 
				<img src="<?php echo $slide_image[0];?>">
			</div>
		</div>

		<div class="small-12 medium-6 medium-order-1 columns">
			<div class="flex-caption">			
				<?php echo apply_filters('the_content', $this->content);?>
				<?php if(!empty($this->url['text'])):?>
					<a href="<?php echo $this->url['href'];?>" title="<?php echo $this->url['title'];?>" class="readmore dark"><?php echo $this->url['text'];?></a>
				<?php endif;?>
			</div>
		</div>
		
	</div>
</div>