<?php $slide_image = wp_get_attachment_image_src($this->attachment_id, 'homepage-header-image');?>
<?php $slide_bg = wp_get_attachment_image_src($this->background_id, 'homepage-header');?>
<div class="slide-content" style="background: url(<?php echo $slide_bg[0];?>) no-repeat center center /cover;">
	<div class="row align-middle">

		<div class="small-12 medium-6 medium-order-2 columns">
			<div class="image">
				<img src="<?php echo $slide_image[0];?>">
			</div>
		</div>

		<div class="small-12 medium-6 medium-order-1 columns">
			<div class="flex-caption">
				<?php if(!empty($this->subtitle)):?>
					<h4><?php echo apply_filters('the_title', $this->subtitle);?></h4>
				<?php endif;?>
				<?php if(!empty($this->title)):?>
					<h3><?php echo apply_filters('the_title', $this->title);?></h3>
				<?php endif;?> 
			
				<?php echo apply_filters('the_content', $this->content);?>
				<?php if(!empty($this->url['text'])):?>
					<a href="<?php echo $this->url['href'];?>" title="<?php echo $this->url['title'];?>" class="btn arrow redborder "><?php echo $this->url['text'];?></a>
				<?php endif;?>
			</div>
		</div>
		
	</div>
</div>