<aside class="search-item list-item row" itemscope itemtype="http://schema.org/Article">
	<div class="large-8 columns">
		<div class="entry-header">
	        <h2 class="entry-title" itemprop="name">
	            <a href="<?php the_permalink() ?>" itemprop="url" title="<?php echo esc_attr(get_the_title()) ?>"><?php the_title() ?></a>
	        </h2>
	    </div>
	    <div class="entry-content std" itemprop="description">
	        <?php echo $this->excerpt() ?>
	    </div>
	</div>
	<div class="large-4 columns">
	    <div class="entry-footer std">
	        <a href="<?php the_permalink() ?>" class="more_btn" itemprop="url" title="<?php echo esc_attr(get_the_title()) ?>"><span><?php echo __( 'Lees verder') ?></span></a>
	    </div>
	</div>
</aside>
