<div class="singular-content" itemprop="articleBody">
	<div class="inner">
    	<?php the_content() ?>
	    <?php if (($search = $this->searchQuery(true)) !== ''): ?>
	        <?php echo $this->listSearchResults(array('query_args' => array('s' => $search))) ?>
	    <?php else: ?>
	        <?php echo $this->partial('partials/search/no-search-query.phtml') ?>
	    <?php endif ?>
	</div>
</div>
