.footer {
	background-color: $clr-footer-bg;
	color : $clr-white;
	a {
		color: $clr-white;
		&:hover {
			color: $clr-main;
		}
	}
	.contactinfo {
		// min-height: 75px;
		background-color: $clr-footer-bg-lt;
		.contact-list{
			padding-top: $mp-large;
			padding-bottom: $mp-small;
			@include medium {
				padding-bottom: $mp-large;
			}
			margin-bottom: 0;
			list-style-type: none;
			li {
				display: inline-block;
				margin-right: $mp-medium;
				font-size: 16px;
				font-weight: 700;
				@include small-only {
					display: block;
					width: 100%;
				}
				&.phonenumber::before,
				&.email::before,
				&.address::before,
				&.contact-link {
					color: $clr-main;
					padding-right: 10px;
				}
				&.contact-link {
					font-weight: 400;
					&::before {
						@include ionicons("\f10b");
						padding-right: 10px;
					}
				}
				&.phonenumber::before {
					@include ionicons("\f2d2");
				}
				&.email::before {
					@include ionicons("\f2eb");
				}
				&.address::before {
					@include ionicons("\f456");
				}
				&:last-of-type {
					margin-right: 0;
				}
			}
		}
		.social-network {
			@include small-only {
				padding-top: $mp-small * 2;
				padding-bottom: $mp-small * 2;
				text-align: center;
			}
			@include medium {
				padding-top: $mp-large + $mp-medium;
				text-align: right;
			}
			@include large {
				padding-top: $mp-large;
			}
			li {
				margin: -30px 0 0 0;
				display: inline-block;
				width: 60px;
				&:last-of-type a {
					border-right: 1px solid $clr-grey-lt;

				}
				a{
					height: 60px;
					width: 60px;
					border-left: 1px solid $clr-grey-lt;
					border-bottom: 1px solid $clr-grey-lt;
					border-top: 1px solid $clr-grey-lt;
					display: block;
					text-align: center;

					i {
						font-size: 20px;
						line-height: 60px;

					}
				}
			}
		}
	}
	.mainfooter {
		min-height: 300px;
		padding-top: $mp-medium;
		padding-bottom: $mp-large;
		.openingtimes,
		.servicemenu,
		.other {
			padding-top: $mp-medium;
			.subtitle {
				padding-bottom: $mp-small;
			}
		}
		.other {
			img {
				max-width: 200px;
				display: inline-block;
			}
		}
		.openingtimes {
			table {
				width: 100%;
				td {
					font-size: 14px;
					color: $clr-text-lt;
				}
			}
		}
		#service-menu {
			list-style-type: none;
			margin: 0 0 0 20px;
			li {
				position: relative;
				&::before {
					position: absolute;
					left: -20px;
					top: 8px;
					@include ionicons("\f10b");
					font-size: 14px;
					color: $clr-main;
				}
			}
		}
	}

	.bottomfooter {
		border-top: 1px solid $clr-grey-lt;
		min-height: 125px;
		padding-top: $mp-medium;
		#footer-menu {
			list-style-type: none;
			margin: 0 0 $mp-small 0;
			li {
				display: inline-block;
				margin-right: 30px;
				&:last-of-type {
					margin-right: 0;
				}
				a {
					font-weight: 700;
				}
			}
		}
		.logos {
			list-style-type: none;
			text-align: right;
			@include small-only {
				text-align: center;
			}
			li {
				display: inline-block;
				padding-right: $mp-medium;
				@include small-only {
					max-width: 50%;
					padding-bottom: 10px;

				}
				&:last-of-type {
					padding-right: 0;
					text-align: left;
				}
			}
		}
	}
}
