header{
	position: relative;
	color: $clr-text-lt;
	// transition: $trns-default;
	@include small-only {
		padding-top: 70px;
	}
	@include medium {
		padding-top: 70px;
	}
	@include large {
		padding-top: 140px;
	}
	&.scrolled{
		padding-top: 70px;
		.logo{
			margin-top: 10px;
			.show-on-scroll{
				display: block;
			}
			.hide-on-scroll{
				display: none;
			}
		}
		.navbar{
			height: 70px;
		}
		.menuholder{
			float: none;
			.clearme{
				clear: none;
			}
		}
		.quote,
		.phoneholder{
			display: none;
		}
		.btn{
			&.cartbtn{
				margin: 0 !important;
			}
			&.searchbtn{
				border-top: none;
				border-right: 1px solid $clr-grey-lt;
			}
		}

		#main-menu{
			border: none;
		}
	}

	a{
		color: $clr-white;
	}
	.navbar{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 800;
		height: 140px;
		background: $clr-grey-dk;
		transition: $trns-default;
		@media screen and (max-width: 64em){
			height: 70px;
		}
	}
	.nav{
		padding: 0;
		background: $clr-grey-dk;
		min-height: 70px;
		position: relative;
		z-index: 800;
		position: fixed;
		top: 0px;
		width: 100%;
	}

	.menuholder{
		float: right;
		@media screen and (max-width: 64em){
			float: none;
		}
		.clearme{
			clear: both;
			@media screen and (max-width: 64em){
				clear: none;
			}
		}
	}

	#main-menu{
		list-style: none;
		padding: 0;
		margin: 0;
		float: right;
		border-left: 1px solid $clr-grey-lt;
		border-top: 1px solid $clr-grey-lt;
		@media screen and (max-width: 64em){
			border: none;
		}

		.menu-item-home{
			@media screen and (max-width: 64em){
				border-top: 1px solid lighten($clr-grey-dk, 5%);
			}
			a{
				font-size: 0;
				width: 69px;
				text-align: center;
				padding: 0;
    			line-height: 80px;
				&:after{
					@include font-awesome("\f015");
					font-size: 16px;
				}
			}
		}

		@media screen and (max-width: 64em){
			max-height: 0px;
			transition: $trns-default;
			overflow: hidden;
			width: 100%;
			&.active{
				max-height: 2000px;
				width: 100%;
			}
		}
		li{
			display: block;
			float: left;
			@media screen and (max-width: 64em){
				display: block;
				float: none;
				border-bottom: 1px solid lighten($clr-grey-dk, 5%);
			}
			&.menu-item-has-children{
				position: relative;
				&:hover{
					ul{
						top: 67px;
						max-height: 1000px;
					}
				}
				a{
					@media screen and (max-width: 64em){
						padding-bottom: 10px;
					}
					&:after{
						@include font-awesome("\f107");
						margin-left: 5px;
						transition: $trns-default;
					}
				}
				ul{
					position: absolute;
					top: 0px;
					left: -15px;
					padding: 0px;
					// border: 2px solid $clr-dark;
					min-width: 100%;
					z-index: 10;
					transition: $trns-default;
					max-height: 0;
					overflow: hidden;
					background: $clr-grey-lt;
					@media screen and (max-width: 64em){
						position: static;
						max-height: 1000px;
						background: none;
						margin: 0 0 0 20px;
					}
					li{
						display: block;
						// padding-left: 20px;
						@media screen and (max-width: 64em){
							border-bottom: none;
						}
						a{
							white-space: nowrap;
							height: auto;
							line-height: normal;
							padding: 20px;
							color: $clr-white;
							// background: $clr-white;
							background: none;
							&:hover{
								color: $clr-main;
								&:after{
									color: $clr-white;
								}
							}

							@media screen and (max-width: 64em){
								&:hover{
								color: $clr-main;
								}
							}

							&:after{
								display: none;
							}
						}
					}
				}
			}
			&.current-menu-item,
			&.current-post-ancestor,
			&.current-page-ancestor,
			&.current_page_parent,
			&.current_post_parent{
				a{
					text-decoration: none;
					color: $clr-main;
				}
			}
			a{
				display: block;
				padding: 0 20px;
				color: $clr-white;
				height: 69px;
				line-height: 69px;
				position: relative;
				z-index: 20;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 14px;
				background: $clr-grey-dk;
				@media screen and (max-width: 64em){
					padding: 0 20px;
				}
				&:hover{
					text-decoration: none;
					color: $clr-main;
				}
			}
		}

	}

	.btn{
		width: 70px;
		height: 70px;
		&.cartbtn{
			float: right;
			position: relative;
			margin: 0 0 0 10px;
			display: block;
			background: $clr-main;
			color: $clr-white;
			line-height: 70px;

			font-size: 26px;
			text-align: center;
			@media screen and (max-width: 64em){
				margin: 0;
				border-top: 1px solid $clr-main;
				border-right: 1px solid $clr-main;
			}
			&:hover{
				.num{
					background: $clr-grey-lt;
					color: $clr-white;
				}
				// border-left: 1px solid $clr-grey-lt;
				// border-right: 1px solid $clr-grey-lt;
			}
			.num{
				position: absolute;
				right: -10px;
				top: calc(50% - 10px);
				width: 20px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				color: $clr-text;
				font-weight: bold;
				font-size: 12px;
				background: $clr-white;
				// border: 1px solid $clr-white;
				transition: $trns-default;
			}
		}

		&.searchbtn{
			display: block;
			padding: 0;
			color: $clr-white;
			float: right;
			width: 70px;
			line-height: 70px;
			border-top: 1px solid $clr-grey-lt;
			border-left: 1px solid $clr-grey-lt;
			border-right: 1px solid $clr-grey-lt;
			text-align: center;

			&:after{
				@include font-awesome("\f002");
				transition: $trns-default;
			}
			&:hover{
				background: $clr-main;
				border-left: 1px solid $clr-main;
				border-right: 1px solid $clr-main;
				@media screen and (max-width: 64em){
					border-top: 1px solid $clr-main;
					border-right: 1px solid $clr-grey-lt;
				}
			}
			&.activated{
				&:after{
					@include font-awesome("\f00d");

				}
			}
		}

		&.menubtn{
			display: block;
			color: $clr-white;
			float: right;
			width: 70px;
			line-height: 70px;
			text-align: center;
			border-top: 1px solid $clr-grey-lt;
			border-left: 1px solid $clr-grey-lt;
			&:after{
				@include font-awesome("\f0c9");
				transition: $trns-default;
			}
			&:hover{
				background: $clr-main;
				// border-top: 1px solid $clr-main;
				border-left: 1px solid $clr-main;
				border-top: 1px solid $clr-main;
			}
		}
	}

	.phoneholder{
		height: 70px;
		float: right;
		line-height: 70px;
		@media screen and (max-width: 64em){
			display: none;
		}
		.phone-container{
			position: relative;
			padding-left: 20px;
			color: $clr-white;
			&:before{
				@include font-awesome("\f095");
				color: $clr-main;
				// height: 70px;
				line-height: normal;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	.quote{
		min-height: 70px;
		font-style: italic;
		text-align: right;
		float: right;
		padding: 22px 30px 0;
		font-family: $fnt-head;
		@media screen and (max-width: 64em){
			display: none;
		}
	}

	.logo{
		float: left;
		margin-top: 30px;
		display: block;
		@media screen and (max-width: 64em){
			margin-top: 10px;
		}
		@media screen and (max-width: 28em){
			width: 50px;
			height: 50px;
			margin-top: 0;
			margin: 10px 0;
			background: url(../img/favicon/android-chrome-192x192.png) no-repeat center center / cover;
			img{
				display: none !important;
			}
		}

		.show-on-scroll{
			display: none;
			@media screen and (max-width: 64em){
				display: block;
			}
		}
		.hide-on-scroll{
			@media screen and (max-width: 64em){
				display: none;
			}
		}
	}

	.search{
		// background: $clr-grey-dk;
		position: absolute;
		width: 100%;
		bottom: 100px;
		z-index: 700;
		transition: $trns-default;
		&.active{
			bottom: -85px;
		}
		.search-form{
			padding: 20px 0;
			width: 350px;
			float: right;
			position: relative;
			.search-input-container{
				width: 100%;
				display: inline-block;
				padding-right: 50px;
			}
			input{
				padding: 0 15px;
				width: 100%;
				border: none;
				// border-radius: 4px 0 0 4px;
				line-height: 50px;
				height: 50px;
				border: 1px solid $clr-text-lt;
				border-right: none;
			}
			button{
				position: absolute;
				right: 0;
				top: 20px;
				display: block;
				height: 50px;
				width: 50px;
				background: $clr-white;
				line-height: 50px;
				padding: 0;
				color: $clr-main;
				cursor: pointer;
				border-radius: 0;
				border: 1px solid $clr-text-lt;
				border-left: none;
				&:hover{
					background: $clr-white;
					color: $clr-main;
				}
				&:after{
					@include font-awesome('\f002');
					color: $clr-main;
					height: 50px;
					width: 50px;
					line-height: 50px;
					text-align: center;
				}
				span{
					display: none;
				}
			}
		}

	}

	.videoWrapper {
		position: relative;
		padding-bottom: 41.93%; /* 16:9 */
		height: 0;
		.mutebtn{
			width: 50px;
			height: 50px;
			background: $clr-white;
			line-height: 50px;
			color: $clr-grey-dk;
			text-align: center;
			position: absolute;
			bottom: 80px;
			right: 100px;
			font-size: 26px;
			z-index: 100;
			cursor: pointer;
			transition: $trns-fast;
			&:hover{
				background: $clr-main;
				color: $clr-white;
			}
		}
		.playtoggle{
			width: 50px;
			height: 50px;
			line-height: 50px;
			color: $clr-white;
			position: absolute;
			bottom: 80px;
			right: 150px;
			font-size: 26px;
			z-index: 100;
			cursor: pointer;
			transition: $trns-fast;
			&:hover{
				color: $clr-main;
			}
		}

		.headerscrollto{
			width: 70px;
			height: 70px;
			background: $clr-main;
			line-height: 70px;
			color: $clr-white;
			text-align: center;
			position: absolute;
			bottom: 0px;
			right: calc(50% - 35px);
			font-size: 26px;
			z-index: 100;
			cursor: pointer;
			transition: $trns-fast;
			&:hover{
				background: $clr-white;
				color: $clr-main;
			}
		}

		.overlay{
			@include black-gradient(1);
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			z-index: 50;
			text-align: center;
			h1{
				position: absolute;
				bottom: 170px;
				left: 0;
				width: 100%;
				text-align: center;
				font-size: 50px;
				color: $clr-white;
				font-weight: 900;
				font-style: italic;
			}
		}


		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
	}

	.headerslider{
		.slide{
			min-height: 560px;
			width: 100%;
			@include up-to-large{
				min-height: 300px;
			}
		}
	}
}