.page-slider {
	height: 800px;
	.slick-dots {
		position: absolute;
		bottom: $mp-medium;
		right: 20%;
		list-style-type: none;
		li {
			background-color: $clr-white;
			height: 15px;
			width: 15px;
			display: inline-block;
			margin-right: 20px;
			button {
				display: none;
			}
			&.slick-active {
				background-color: $clr-main;
			}
		}
	}
	.slide-content {
		margin-top: -100px;
		height: 800px;
	}
}
.page-title {
	padding: 50px 0 40px;
	h1 {
		@include small-only {
			padding-left: $mp-small;
			padding-right: $mp-small;
		}
		@include medium {
			padding-left: $mp-small;
			padding-right: $mp-small;
		}
		@include large {
			padding-left: 0;
			padding-right: 0;
		}
		font-size: 40px;
		font-weight: 400;
		font-style: italic;
		font-family: $fnt-head;
	}
}
.singular-content {
	margin-top: $mp-large;
	margin-bottom: $mp-large;
	h1, h2 {
		padding-bottom: $mp-medium;
	}
	h3, h4, h5, h6 {
		paddding-bottom: $mp-small;
	}
	a {
        border-bottom: 1px solid transparent;
        &:hover {
            text-decoration: none;
            border-bottom: 1px solid $clr-main;
        }
    }
}
.page-bottom {
	border-top: 1px solid $clr-widget-border;
	height: 100px;
	padding-top: 35px;

	@include small-only {
		padding-top: $mp-small;
		padding-bottom: $mp-small;
	}
}
.col-right {
	//	padding: $mp-medium;
	//	margin-top: $mp-large;
		p {
			margin: 0;
		}

		h2, h3 {
			padding: 20px 0 10px 0;
		}
		.more_btn {
			width: 100%;
			text-decoration: none;
			margin-bottom: 10px;
			&:hover {
				color: $clr-white;
			}
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				margin-bottom: 10px;
				font-size: 18px;
				position: relative;
				margin-left: 40px;
			}
			li::before {
				position: absolute;
				left: -40px;
				top: 5px;
				@include font-awesome('\f14a');
				color: $clr-main;
			}
		}
		&.border-gray {
			border: 1px solid $clr-widget-border;
		}
		&.icon-thumb {
			position: relative;
			padding-top: $mp-large;
			&::before {
				position: absolute;
				top: -30px;
				left: calc(50% - 30px);
				width: 60px;
				height: 60px;
				@include font-awesome('\f087');
				font-size: 30px;
				border: 1px solid $clr-widget-border;
				background-color: $clr-white;
				text-align: center;
				line-height: 60px;
				color: $clr-main;
			}
		}
	}

.page-gallery {
    padding: 100px 0;
    background: url(../img/background_categories.jpg) no-repeat top center / cover;
	overflow: hidden;
	.sectiontitle {
		color: $clr-white;
		text-align: center;
	}
	#page-slider {
		position: relative;
		@include small-only {
			padding-top: 50px;
		}
		@include medium {
			padding-top: 50px;
		}
		.prev-arrow,
		.next-arrow {
			height: 50px;
			width: 50px;
			top: 45%;
			position: absolute;
			z-index: 40;
			background-color: $clr-main;
			color: $clr-white;
			line-height: 50px;
			text-align: center;
			transition: 0.3s all ease-in-out;
			cursor: pointer;
			&:hover {
				background-color: $clr-main-dk;
			}
		}
		.prev-arrow {
			left: 0;
			@include large {
				left: 31%;
			}
		}
		.next-arrow {
			right: 0;
			@include large {
				right: 31%;
			}

		}
		.prev-arrow::after{
			transform: rotate(180deg);
		}
		.slick-list {
			overflow: visible;
		}
		.slick-slide {
			box-shadow: 3px 3px 1px rgba($clr-black, 0.8);
			.inner {
				position: relative;
				z-index: 1;
				transition: 0.5s all ease-in-out;
				.image {
					display: block;
					img{
						width: 100%;
					}
					overflow: hidden;
					top: 0;
					left: 0;
					right: 0;
					bottom:0;
					transition: .1s all ease-in-out;
				}
				.overlay {
					background-color: rgba($clr-black, 0.5);
					position: absolute;
					left:0;
					top: 0;
					right: 0;
					bottom: 0;
					transition: 1s background ease-in-out;
				}

			}
			@include small-only {
				&.slick-current {
					padding-top: 0;
					.inner {
						z-index: 10;
						.overlay {
							background-color: rgba($clr-black, 0);
						}
					}
				}
			}
			@include medium {
				&.slick-current {
					padding-top: 0;
					.inner {
						z-index: 10;
						.overlay {
							background-color: rgba($clr-black, 0);
						}
					}
				}
			}
			@include large {
				&.slick-center {
					.inner {
						transform: scale(1.2);
						z-index: 10;
						.overlay {
							background-color: rgba($clr-black, 0);
						}
					}
				}
			}

		}
	}
}
