.single-news {
	.article-date {
		padding-top: $mp-small;
		padding-bottom: $mp-small;
		background-color: $clr-subnav-bg;
	}
	
	.post-content {
		margin-top: $mp-large;
		//padding-top: $mp-medium;
	}
	.singular-content {
		padding-top: 45px;
		margin-top: 0;
	}
}
