.search-list {
	.list-item {
		padding: $mp-medium;
	}
	.list-item:nth-child(odd) {
		background-color: #eee;
	}
	.entry-title {
		a {
			border-bottom: none;
		}
		a:hover {
			text-decoration: none;
			border-bottom: none;
			color: $clr-text;
		}
	}
	.entry-footer {
		text-align: center;
		padding-top: 50px;
	}
}
