.page-template-template-news {
	.page-title{
		padding-left: $mp-small;
	}
	#newslist{
		.block{
			margin-bottom: $mp-medium;
			padding: 0;
			.entry-header {
				height: 250px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				position: relative;
				.entry-title-container {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					top: 0;
					height: auto;
					padding: $mp-medium;
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+48,0.65+100 */
					background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 48%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 48%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 48%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
					.entry-title {
						bottom: $mp-medium;
						left: $mp-medium;
						right: $mp-medium;
						position: absolute;
						color: $clr-white;
						font-size: 22px;
					}
				}
			}
			.inner {
				background-color: #f0f0f0;
				padding: $mp-medium $mp-medium $mp-large $mp-medium;
				position: relative;
				height: 200px;
				.entry-meta {
					position: absolute;
					bottom: $mp-large;
					left: $mp-medium;
					right: $mp-medium;
					font-weight: 700;
				}
				.inside{
					height: 50px;
					width: 50px;
					font-weight: bold;
					text-transform: uppercase;
					display: block;
					position: absolute;
					bottom: 0;
					right: 0;
					overflow: hidden;
					font-family: $fnt-default;
					&:hover{
						width: 100%;
					}
					&:after{
						position: absolute;
						top: 0;
						right: 0;
						width: 50px;
						height: 50px;
						@include ionicons("\f30f");
						font-size: 20px;
						color: $clr-white;
						line-height: 50px;
						text-align: center;
						background: $clr-main;
					}
					span{
						padding: 0 20px;
						background: $clr-main-dk;
						color: $clr-white;
						display: block;
						position: absolute;
						right: 50px;
						top: 0;
						height: 50px;
						font-size: 16px;
						line-height: 50px;
						white-space: nowrap;
					}
				}
			}
		}
	}

}
