.meubels{
	padding: 0 0 60px;
	.categorie {
		margin-bottom: 20px;
		border-bottom: 1px solid $clr-main;
		position: relative;
		display: block;
		background: $clr-second;
		overflow: hidden;
		&:hover{
			&:before{
				background: rgba($clr-main, 0.4);
			}
			&:after{
				opacity: 1;
			}
			img{
				opacity: 0.6;
			}
		}
		&:before{
			content: "";
			@include absolutefill();
			background: rgba($clr-main, 0);
			z-index: 50;
			transition: $trns-default;
			// vertical-align: -50%;
		}
		&:after{
			position: absolute;
			top: calc(50% - 20px);
			left: calc(50% - 20px);;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			@include ionicons("\f30f");
			color: $clr-white;
			font-size: 40px;
			z-index: 150;
			opacity: 0;
			transition: $trns-default;
			@media screen and (max-width: 64em){
				display: none;
			}
		}
		img{
			display: block;
			opacity: 1;
			transition: $trns-default;
		}
		h3{
			position: absolute;
			bottom: 0px;
			left: 0px;
			padding: 100px 60px 25px 35px;
			color: $clr-white;
			font-size: 24px;
			font-weight: 700;
			display: block;
			width: 100%;
			z-index: 100;
			@include black-gradient(0.6,0);
			@media screen and (max-width: 64em){
				padding: 40px 20px 20px;
				font-size: 24px;
			}
			@media screen and (max-width: 40em){
				padding: 20px 10px 10px;
				font-size: 20px;
			}
		}
	}
}

.bottom{
	padding: 70px 0;

	.widget-contentblock{
		margin-bottom: 0;
		.std{
			padding-bottom: 0;
		}
	}
	.bottom{
		padding: 0;
	}
}