.page-template-template-contact {
	.phone-container {
		height: 35px;
	}
	.location-container {
		padding-top: $mp-medium;
		width: 100%;
		display: block;
		.location {
			display: block;
			width: 100%;
		}
	}
	.phone::before,
	.mail::before,
	.location::before {
		padding-right: $mp-small;
		color: $clr-main;
		font-weight: 700;
	}
	.phone::before { @include ionicons("\f2d2"); }
	.mail::before { @include ionicons("\f2eb"); }
	.location::before { @include ionicons("\f456"); }
	.route-link {
		margin-left: $mp-medium;
		border-bottom: none;
		&:hover {
			border-bottom: none;
			color: $clr-text;
		}
	}

	.company-registry {
		margin-top: $mp-medium;
		dt, dd {
			display: inline-block;
			font-weight: 400;
			font-size: 20px;
		}
		dt {
			width: 20%;
		}
		dd {
			width: 80%;
		}
	}
		a.big,
		span.big {
			font-size: 25px;
			color: $clr-text;
			border-bottom: none;
			font-weight: 700;
			font-family: $fnt-default;

			&:hover {
				text-decoration: none!important;
				color: $clr-text;
				border-bottom: none;
			}
		}
		a.big {
			&:hover {
				color: $clr-main;
				text-decoration: none;
			}
		}
	.col-left {
		.visitus .std{
			padding: 0;
		}
		.singular-content .std{
			padding-bottom: 0;
			margin-bottom: 0;
			padding-left: 0;
			padding-right: 0;
		}

	}
	.col-content {
		margin-top: 0;
		padding-top: 0;
		.singular-content {
			border: 1px solid $clr-widget-border;
			padding: $mp-medium;
		}
	}
}
.google-map {
	position: relative;
	.info-window {
		background-color: $clr-white;
		border: 1px solid $clr-widget-border;
		position: absolute;
		z-index: 100;
		padding: $mp-medium;
		width: 400px;
		height: 250px;
		@include small-only {
			display: none;
		}
		@include medium {
			display: none;
		}
		@include large {
			display: block;
			left: 5%;
			bottom: $mp-medium;
		}
		@include xlarge {
			left: 15%;
		}
		@include xxlarge {
			left: 25%;
		}
		.location {
			padding-left: $mp-medium;
			position: relative;
			.address-part-0 {
				display: block;
				width: 100%;
			}
			&::before {
				padding-right: 0;
				position: absolute;
				left:0;
				top: 3px;
			}
		}
	}
}
