.featured{
	.content-featured{
		@include flexbox();
		.widget{
			position: relative;
		}
	}

	.overlay{
		@include absolutefill();
	}

	.block{
		padding: 100px 0;

		.inner{
			background: $clr-white;
			padding: 30px;
			position: relative;

			h3{
				font-size: 24px;
				margin-bottom: 15px;
			}
			p{
				line-height: 24px;
			}

			.inside{
				height: 50px;
				width: 50px;
				font-weight: bold;
				text-transform: uppercase;
				display: block;
				position: absolute;
				bottom: 0;
				right: 0;
				overflow: hidden;
				&:hover{
					width: 100%;
				}
				&:after{
					position: absolute;
					top: 0;
					right: 0;
					width: 50px;
					height: 50px;
					@include ionicons("\f30f");
					font-size: 20px;
					color: $clr-white;
					line-height: 50px;
					text-align: center;
					background: $clr-main;
				}
				span{
					padding: 0 20px;
					background: $clr-main-dk;
					color: $clr-white;
					display: block;
					position: absolute;
					right: 50px;
					top: 0;
					height: 50px;
					font-size: 16px;
					line-height: 50px;
					white-space: nowrap;
				}
			}
		}
	}

	.dark{
		.inner{
			background: $clr-grey-dk;
			color: $clr-white;
			h3{
				color: $clr-white;
			}
			p{
				color: #aaa8ab;
			}
		}
	}
}

.homeproducts{
	padding: 80px 0 60px;
}
